[2018-12-11 03:47] #213 closed

[2018-12-11 18:18] jcmuller opened #223 "Issues in epic?"
I can't for the life of me figure out how to list the issues in epic in a view template.

`-t debug` for the epic does not include them, either. Does that mean there's no way to show them?

Any help would be greatly appreciated here :)

Cheers

[2018-12-13 18:07] ejsuncy commented on #204
Glad I found this ticket, I was hoping for some functionality like `jira checkout AB-12345` which would set an env var that applied to all other commands

[2018-12-14 14:09] nicholasspencer commented on #204
My "extra curricular" time has been gobbled up in the past few months. I'll probably have some free time over the holidays.

[2018-12-18 13:33] wzhliang opened #224 "How to get originalEstimate of an issue?"
I tried `jira view XXXX --field="originalEstimate"` but it did't work

[2018-12-21 15:01] albasili opened #225 "how to set jira path"
This might be quite dumb, but I need to add a path to my endpoint, something like: ```https://jira.mydomain.com/jira```

Without it I will receive a ```301``` back.
Any idea?

[2019-01-07 15:14] vanniktech opened #226 "Custom if check in custom commands"
Inside a custom command I want to differentiate between passing `Epic` and anything else.

[code]

However when calling via `jira c "Epic"` I get the following:

[code]

Isn't this supported?

[2019-01-07 15:18] vanniktech opened #227 "jira epic add is case sensitive"
`jira epic add ap-424 ap-423` won't work. `j epic add AP-424 AP-423` does.

All others command that I've used are case insensitive. Can we make the change for `epic add`, too?

[2019-01-07 18:34] coryb commented on #226
I think scripts are run with `/bin/sh` and `[[` is bash syntax. try:
[code]

[2019-01-09 10:23] vanniktech commented on #226
That works. Thanks. Might be worth pointing that out in the README.

[2019-01-09 10:23] #226 closed

[2019-01-14 21:50] mhite commented on #211
Getting pagination would be fantastic.

[2019-01-15 21:46] schnoddelbotz commented on #207
Came here as I had a 'similar' issue... I was unable to get the overrides to work. I'm also on a german Jira instance and it works for me now -- so I assume it's really unrelated to Jira's language. Of course, you should provide a valid issue type (as provided by `jira issutypes -p YourProject`).

What I didn't figure out from documentation was how to use the overrides provided via command line. M

[2019-01-16 13:41] jdelic opened #228 "Using go-jira as a dependency is broken with go modules ("vgo")"
Trying to use `go-jira` in a `go.mod` file like this:

[code]

`go build` fails with

[code]

Do we have a way to get rid of the offending file(s)?

[2019-01-16 18:41] schnoddelbotz commented on #73
I am sorry for the long silence on this one. In the meantime, I switched jobs and also don't have access to a Jira instance with github integration.
As nobody else jumped in here, I'd think it's okay to close the issue for now. If somebody else sees the need for this and/or could sponsor a test/dev instance, it could still be re-opened...?

[2019-01-16 18:47] schnoddelbotz commented on #225
Doesn't setting ...
[code]
... in `~/.jira.d/config.yml` work?

[2019-01-16 20:25] schnoddelbotz commented on #210
I ran into the same issue due to some old versions of the pkg lingering around.
Doing it from scratch and according to build section in /README.md, it worked for me:
[code]
Does that help?

[2019-01-16 20:50] schnoddelbotz commented on #205
Note that your custom command invokes `jira` again, without passing through your primary invocation's endpoint. It's indeed a bit of a pity that global options are not available to custom commands / scripts -- try/debug by using `echo {{.}}` as script -- but I think this should do as work-around:

[code]
Invoke it like
[code]

Can you confirm this solves the issue for you?

[2019-01-16 22:47] albasili commented on #225
I get this:

`
ERROR JSON Parse Error: invalid character '<' looking for beginning of value from "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>301 Moved Permanently</title>\n</head><body>\n<h1>Moved Permanently</h1>\n<p>The document has moved <a href=\"https://jira.melexis.com/jirarest/auth/1/session\">here</a>.</p>\n<hr>\n<address>Apache/2.2.22 (Debian) Server at jir

[2019-01-16 23:38] schnoddelbotz commented on #225
Hm. Looks like you get redirected to the login page... that's indeed a bit weird...

(at)coryb could possibly quickly confirm that this is due to your 5+ years old Jira release ( https://confluence.atlassian.com/jira/jira-6-1-3-release-notes-423625278.html ); I can only guess that it's the issue, as go-jira tests are using 7.2.0 ( https://github.com/Netflix-Skunkworks/go-jira/blob/master/t/dockerr

[2019-01-16 23:43] schnoddelbotz commented on #225
Just to confirm: setting the `endpoint:` with a trailing `/foobar` in config.yml leads to requests like:
[code]
So in general, it should work with a non-standard path (it leads to 404 for me; our setup is using `/`).

[2019-01-17 08:09] albasili commented on #225
what do you mean by that?

[2019-01-17 15:29] mcepl opened #229 "FTBFS with go go1.10.3 gccgo (SUSE Linux) 8.2.1 20181108"
[code]
What I am missing?

[2019-01-17 18:22] Techcadia commented on #210
Confirmed a recompile now works correctly. Still seeing on the compiled version that it does not honor the ~/.jira.d/config.yml but that is a different problem.

[2019-01-17 18:22] #210 closed

[2019-01-17 19:03] schnoddelbotz commented on #229
Interesting. But I'm not sure whether go-jira is the place to report this issue as this seems to be related to gccgo -- because the standard go compiler does not complain about the code section in question, as resp is used inside the closure:
[code]
Looking at https://stackoverflow.com/questions/19957323/go-closure-variable-scope I believe the standard go compiler is working as intended, while gcc

[2019-01-17 20:04] mcepl commented on #229
You are right, just for other openSUSE users: ``sudo update-alternatives --config go`` allows switching between different implementations of go.

[2019-01-17 20:04] #229 closed

[2019-01-17 21:35] albasili commented on #225
thanks for your insights, I'll close the issue.

[2019-01-17 21:35] #225 closed

[2019-01-22 15:50] fabien-michel opened #230 "true life custom commands samples"
Hi,
I'm note very comfortable with custom commands and I am seeking for a bunch of user contributed custom-commands to help me write my owns. The doc seems to be complete, but it would be more instructive to have some real and more complex examples.

There is already a place for this ?
Thanks

[2019-01-22 16:40] coryb commented on #230
Here are a few more that I use for my personal projects:
* display list of epic issues with usage `jira epics`
[code]

* here is a more complex one that tries to figure out the the scrum board id and assign a provided issue to it. There is an option `-n` to assign the issue to the "next" sprint (the "future" one) or the currently "active" one.  Usage: `jira sprint-add ISSUE-123` or `jira sprint-ad

[2019-01-23 08:53] fabien-michel commented on #230
Thanks for sprint-add. May be we can open a wiki page to store some user's contributed custom command sample ?

[2019-02-01 19:47] noahbetzen-wk opened #231 "Ability to use JSESSION token from Cookie for self-hosted JIRA installs?"
I know the old JSESSION token Cookie method isn't supported in JIRA Cloud, but my company still uses self-hosted JIRA and we log in via SAML; we don't have passwords we can use.

Is there a way to auth in `go-jira` via the old Cookie method either by a command or a line in the config file?

[2019-02-12 16:21] d0x opened #233 "Prefill subtasks assignee, component, issuetype, parent"
How to configure default values for `jira subtask` command?

Like:
- components
- assignee
- issuetype

From #125 I saw that `~/.jira.d/subtask.yml` can be used to fix the issue type. But for me in the yml it gets still set to `Sub-task`.

P.S.: Your tool is very handy. Thanks for it!

[2019-02-22 12:27] Syphdias opened #234 "Different attributes in "list" and "view""
Version 1.0.20

I tried to do a little more sorting in a list template depending on Epics/Subtasks, etc.

But as it turns out, if I do a `{{jira}} view <issue> -t debug` I get the attribute `.fields.parent` (which contains what I need) but in `{{jira}} list -t debug` I don't get it in the issues array (no `issues[0].fields.parent` (not sure if this is correct, I'm new to the go templates)). Same w

[2019-02-25 10:14] sanga opened #235 "configuration location is non-standard on linux (should follow the XDG standard)"
So this is a bit nit-picky but on linux configuration files are usually under `.config` (or wherever `XDG_CONFIG_HOME` is pointing if it's defined). So if it's not a huge amount of work it'd be nice to have the config dir as `$XDG_CONFIG_HOME/jira` for example, or at least have it configurable by some other means. I may even have a look at this myself if you agree in principle to the idea?

[2019-03-03 15:20] rusdevops commented on #223
workaround
[code]

[2019-03-03 15:26] rusdevops commented on #223
But I have the following problem:
I don't know how to turn on the display of all problems in epic except unclosed..

[2019-03-04 17:02] abloch opened #237 "how can I call a jira function from a template"
I need a template that creates an issue in my current sprint.
my current sprint can be fetched by a [jira command](https://godoc.org/github.com/andygrunwald/go-jira#BoardService.GetAllSprintsWithOptions) but I can't find how to add this logic into a template

thanks in advance

[2019-03-09 23:59] dbaumann commented on #81
FWIW @Lupus did some work to add Oauth support to andygrunwald/go-jira, which isn't related, despite the commit referenced above.
https://gist.github.com/Lupus/edafe9a7c5c6b13407293d795442fe67

That implementation provides an http.Client that presumably works with Jira's Oauth 1.0a. It seems like a reasonable investment to incorporate that work into Netflix-Skunkworks/go-jira.

My use case at work

[2019-03-10 05:27] Lupus commented on #81
I've added CC0 header to the snippet to cover some legal aspects of incorporating code without a defined license, so feel free to do that! :+1:

[2019-03-12 11:13] nnadeau opened #238 "Cannot create/edit due date"
## Expected Behaviour

The follow commands should edit and create an issue's due date:

[code]

## Actual Behaviour

- In both of the above cases, the commands return `OK ABC-123 https://XYZ.atlassian.net/browse/ABC-123`
- In the creation case, all non-date fields are correctly populated
- In both cases, the `due date` field is not set

[2019-03-15 11:29] sucotronic commented on #207
Same problem here, using jira cloud instance:
[code]

But then:

[code]

If I enable debug (-vvv), the client is sending:
[code]

and the server is replying:
[code]

[2019-03-21 07:20] abitrolly opened #239 "Change base query for list command"
Default `jira ls` query includes `resolution = unresolved` condition. This property is absent in our repo configuration, and therefore all results are empty.
[code]
1. Is it possible to configure this base query to remove `resolution = unresolved` condition and/or replace it with `status != Done`?
2. Will a custom query affect the ability to use --project and other parameters to customize the base

[2019-03-28 21:02] agzam opened #241 "Self-hosted Jira behind Okta"
Can someone please tell me if this is possible at all?
How do I connect to a self-hosted Jira instance sitting behind Okta.

[2019-04-01 16:13] zeonin opened #242 "`pass` authentication is"

[2019-04-02 15:01] delucks opened #243 "Distribute checksums with built binaries"
Hello! I would like to be able to verify that I correctly downloaded one of the prebuilt binaries from the releases page. For subsequent releases, could you distribute some checksums along with the binaries? Doing so would also assist with releasing this software on OS package managers that validate checksums.

[2019-04-02 18:32] jgraglia commented on #207
I had the same issue. My workaroung was to change my langage to "English (US)" in my jira profile.

Now `jira issuetypes` list the types in english. And I can create an issue with
`--issuetype Bug`

Before that, my JIRA profile was in FR, and `--issuetype Bogue` did not work even if listed by `jira issuetypes` command

[2019-04-03 01:00] fizz commented on #241
This works! I just logged into a Jira Server instance with Okta in front of it. I set `endpoint:` and `login:` in ~/.jira.d/config.yml. Try any command (like `jira ls`), it should ask for your password and... just work.

[2019-04-04 17:57] predatorian3 opened #244 "How to fill in required options when closing a Jira?"
This is more of a support question, but I was trying to close a Jira and this workflow has a custom option that needs to be supplied when the Jira is closed. How would I supply that option to the Jira when its being transitioned to closed? The example output:

[code]

[2019-04-04 23:44] agzam commented on #241
I've tried all different combinations of `user:` and `login:` and still can't make it work it keeps saying: "Login denied". The password it right, what else does this thing need?

[2019-04-08 14:04] predatorian3 commented on #143
Hello. I'm back. I think it is something to do with our Jira instance or something.

[code]

[2019-04-08 15:51] coryb commented on #244
There is a `transition` template that you can modify.
So you would do something like:
[code]
Note you can use `jira transmeta $ISSUE` to see the metadata structure for your issue workflow

By default `jira` will use `.jira.d/templates/transition` then look in $HOME/.jira.d/templates/transition then use the built-in default template.

[2019-04-08 16:06] coryb commented on #143
This is very confusing for me, it looks like your shell is not handling the quoting correctly.  Are you using bash?  It appears that the tool is seeing `jira transition in process ISSUE` and it only wants 2 arguments, so the 3rd is unexpected.  This would imply that your shell is sending `in process` as 2 separate arguments, not sure how that is possible.

[2019-04-08 17:23] agzam commented on #241
I wonder if I can use token-based auth by just copy pasting token from browser into config file?

[2019-04-08 18:49] predatorian3 commented on #143
i'm on a Mac, using iTerm2. I should be using Bash, but it may not be doing something correctly like you're saying. Any suggestions on iTerm2 settings?

[2019-04-08 18:58] coryb commented on #143
I use mac with iterm2 and bash, so that is not it.  Do you have an alias or function called `jira`?   Or maybe a wrapper shell script?
What does this report:
[code]

[2019-04-08 19:01] predatorian3 commented on #143
I do, I call it in a shell script that I put in my path.

[code]

Then the contents of that are:

[code]

I have to include the `--insecure` because our Jira instance isn't setup correctly.

[2019-04-08 19:49] coryb commented on #143
Ah, that makes sense, your wrapper script is incorrect, you need to quote the last arg, try something like:
[code]

[2019-04-08 20:14] predatorian3 commented on #143
That seems to have done it!

[code]

Thank you @coryb .

[2019-04-15 12:16] burningalchemist commented on #211
Hi @Techcadia ,

Did you have any success with the issue in the end? Just curious.

Kind regards,
Sergei

[2019-04-15 21:58] predatorian3 commented on #244
I see what you're talking about,

[code]

So, I used this. It closed my Jira. Thank you for the help, @coryb

[code]

[2019-04-15 21:58] #244 closed

[2019-04-15 22:02] coryb commented on #244
You can probably simplify that but depends on the field.  I would expect this to work:
[code]
The `id` is usually inferred on the backend depending on the value you submit.

[2019-04-16 13:34] predatorian3 commented on #244
Got ya. The only reason I kept the id is because when I would add certain things, go-jira would return that `id` and `value` weren't given.

[2019-04-20 21:43] justmiles commented on #211
I [took a stab at this](https://github.com/Netflix-Skunkworks/go-jira/compare/master...justmiles:211).
I noticed that if the results include too much data (IDK how much is too much) it throws the following error when writing output:

I image this is because all the results are stored in a buffer before writing the output and that buffer can only hold so much data. I ended up using this to export o

[2019-04-21 05:03] Techcadia commented on #211
@justmiles Create a PR. A glance over the code it looks good the only thing that sticks out is that the `defer resp.Body.Close()` should be moved to the bottom of the loop and converted to `resp.Body.Close()`

https://blog.learngoprogramming.com/gotchas-of-defer-in-go-1-8d070894cb01
For more info on the reasoning.

[2019-04-21 12:38] justmiles commented on #211
Thanks for the feedback. I moved `resp.Body.Close()` to the bottom of the loop as you suggested and opened PR #245.

[2019-04-24 15:10] dossy commented on #185
Is there no way to store the JIRA API token in the config.yml?  It's not documented anywhere if it's possible, and setting up `pass` just for go-jira is an annoying prerequisite.

[2019-05-02 07:46] noahbetzen-wk commented on #241
I'm in the same boat: https://github.com/Netflix-Skunkworks/go-jira/issues/231

Unfortunately I've not found a solution yet.

[2019-05-04 02:19] liskl opened #246 "issues with custom fields and weird values i can't change."
`{{- if .meta.fields.customfield_10004 }}
  sprint:
    - value: {{ $value := index .fields.customfield_10004 0 }}{{$value}}{{end}}`

[2019-05-04 02:26] liskl commented on #246
would love to be able to update any of the internal fields

com.atlassian.greenhopper.service.sprint.Sprint@676abdb3[
**id**=162
**rapidViewId**=56
**state**=ACTIVE
**name**=us 69
**goal**=
**startDate**=2019-04-29T23:27:58.470Z
**endDate**=2019-05-13T23:27:00.000Z
**completeDate**=<null>
**sequence**=162
]

[2019-05-07 20:25] k4k commented on #241
I got it working with Okta. It's a hack and involves a modified version of the JSESSIONID hijacking that @anthonyrisinger found in #111. Steps are below:

[code]

[2019-05-12 02:05] AndresPineros commented on #230
@coryb Thanks for sprint-add. Also, it would be really nice to have the community custom-commands :)

[2019-05-12 03:59] AndresPineros commented on #95
Although it would be nice to specify the template in the command. Having to create a template file for simple patterns is annoying.

Something like:
`jira list --script-template="{{ range .issues }}{{.key}}{{end}}"`

[2019-05-13 15:50] johntdyer opened #247 "Unable to get custom commands working"
[code]

My confiog is as follows

[code]

My version is
1.0.20

[2019-05-20 09:26] mvdan commented on #228
This is still happening with Go 1.12 and master (1.13):

[code]

This is a shame, because modules are going to become more and more common, and probably a default by the end of the year. Should be an easy fix if the project still has active maintainers - cc @coryb?

[2019-05-20 09:32] mvdan opened #248 "Any active maintainers?"
I see little activity since last November, so I wonder if the project is actively maintained.

If not, is there a need for someone to adopt the project, or become a maintainer?

I have no reason to think that master is badly broken, but given that JIRA moves quite rapidly, I imagine it will break eventually. It also seems to be broken for Go modules, which would be a fairly easy fix: https://githu

[2019-05-21 03:54] kojustin opened #249 "Password prompt should go to stderr"
If I do

[code]

and the tool needs a password I never see the prompt. I'm guessing the password prompt is written to stdout.

[2019-05-22 19:38] rschmied opened #250 "password-source: keyring on FC30 result in "dbus: authentication failed""
similar to the unanswered #216 I've tried to run the tests for github.com/tmc/keyring and they succeed:

[code]
is this a configuration issue on my box or some driver error? Is this combination working for anyone out there (FC30/go-jira/Gnome keyring)?

trace https://pastebin.com/9FvZpaK8

[2019-05-23 20:25] wwalker opened #251 "jira hangs and won't respond to Cntl-C , Cntl-Z or Cntl-\"
I never get prompted for a password. and I have to kill the xterm.
This is using the custom command:
[code]
The child process appears to be prompting for a password but the prompt doesn't show up.

Even blindly pasting in the password and hitting enter doesn't recover.

Maybe before running a child jira, the parent should do authentication?

The real issue here is that it breaks the terminal.
If I

[2019-05-24 01:17] Aerex commented on #247
@johntdyer Can you put your configuration in a linter to see if there is any errors with that. Also, see what happens if you remove the empty new lines.

[2019-05-24 10:49] deefin commented on #250
Same issue for me

[code]

cant see the key anywhere in gnome-keyring.

[code]

[code]

[2019-05-25 19:19] coryb commented on #248
Hi @mvdan, as you correctly note there is very little activity on this project.  I use the tool daily for myself but have little time to review issues or pull-requests.

I am very open to adding maintainers for anyone who is interested in helping out.

[2019-05-25 21:08] #211 closed

[2019-05-26 11:30] mvdan commented on #248
Thanks, good to hear. Are there any other active maintainers? If so, do you chat with them anywhere?

I too have started using this tool on a daily basis. There's some low-hanging fruit I'd like to help with, so I can get on that if you add me as a contributor. Are there any guidelines, e.g. not pushing straight to master?

[2019-05-26 18:10] coryb commented on #248
In theory, you should have write access now, that should mean you can merge PRs as well.

Using the Netflix-Shunkworks org is a bit troublesome since there is automated management of users there, I don't actually have direct admin access to this repo anymore.  This means non Netflix employees cannot grant access to other users.  I am wondering long-term if we want to re-home this project to a diff

[2019-05-26 19:16] vanniktech commented on #248
I'm happy to review some PRs too.

[2019-05-26 19:53] coryb commented on #248
Hey @vanniktech, great!  I have granted you push access, which should allow you to merge PRs.

I am thinking we can setup PRs to require 1 reviewer to merge to master and I believe I can include you both as default reviewers.  I will look into setting that up.

[2019-05-26 20:12] mvdan commented on #248
Thanks - I do have access. The #go-jira channel on slack will be very useful.

If the Netflix organisation can be a problem, moving it elsewhere seems fine. Honestly, anywhere seems good as long as there's no bus factor. For that reason, I think I'd prefer a dummy org like `github.com/go-jira` over anyone's personal account.

Also, I don't think a fork will be necessary. If I remember correctly, G

[2019-05-26 20:13] mvdan commented on #248
Also - the purpose of this issue is very much fulfilled, unless you want to keep it open to deal with follow-up ideas like creating an org.

[2019-05-26 20:31] vanniktech commented on #248
That sounds good.

They do - yes.

I believe @coryb just wanted to set up that one review from someone with push access is given on a given PR.

[2019-05-26 21:22] coryb commented on #248
A dedicated org would be great, github.com/go-jira already exists.  Most possible org names that I can think of seem to exist.  It mostly seems like people squatting on names that are unused.  I will ping the only commiter to github.com/go-jira and see if he would be open to allowing us to move there.

For reviewers, I was thinking that it would be better for everyone if we require 1 reviewer for

[2019-05-26 21:25] mvdan commented on #248
Ah, apologies that I misunderstood. One reviewer per PR sounds fine :)

[2019-05-26 23:55] coryb commented on #248
I was able to talk with @kalbasit who has very generously offered us a home in the github.com/go-jira org!  I now have the permissions I need for the new org, I just need to track down a human in Netflix to assist me to move the repo to the new org.

[2019-05-27 00:23] mikepea commented on #248
Hey folks, slightly late to the party but I'm also happy to take on some PR
review responsibilities.

On Sun, May 26, 2019 at 4:55 PM coryb <notifications@github.com> wrote:

[2019-05-27 01:34] coryb commented on #248
Hey @mikepea, awesome, thanks!  I have added you as a collaborator with write privs to the repo.

[2019-05-29 18:14] HeathNaylor opened #259 "Custom Commands in separate file"
I attempted to create 2 files:

`~/.jira.d/config.yml`
`~/.jira.d/mine.yml`

`mine.yml` consisted of the following code:
[code]

**How to reproduce the problem:**
When typing `jira` I was not presented with the custom command `mine`. When I moved that same yaml into the `config.yml` and typed `jira`, I was able to see the custom command.

**Expected behavior:**
When creating a custom config file,

[2019-05-30 01:27] deefin commented on #250
@rschmied a work around is to remove the `password source` line from your `~/.jira.d/config.yml` and `export JIRA_API_TOKEN=`

[2019-05-30 02:50] hectorv opened #260 "Cloning an issue"
Is it possible to clone an issue?
https://www.tutorialspoint.com/jira/jira_clone_an_issue.htm
Thanks!

[2019-05-31 02:13] lynncyrin opened #261 "[Feature Request] Add an option to hide default commands"
### What

I would like the option to hide certain default commands that I don't intend on using.

### Why

In an ideal world, I would setup my custom commands and only use those. The really powerful custom command syntax enables this super effectively 💖. I have all my custom commands now, but the help still has a bunch of commands I don't need. Ideally I would be able to do `jira --help` and the o

[2019-05-31 05:44] lynncyrin commented on #261
Talked to @coryb about this just now, and I might want to do something slightly different here? I'll investigate 🔍

[2019-06-02 23:20] agzam commented on #241
I'm still not getting it. This is what I did:

- created ~/.jira/config.yml with

    endpoint: https://jira.something.com
    user: me
    login: me@something.com

- tried `jira login`, it prompts for password, I press `Ctrl-C`
- this creates ~/.jira.d/cookies.js file that looks like this:

      [
        {
          "Name": "atlassian.xsrf.token",
          "Value": "AAAA-BBBB-CCCC-DDDD|22b1003

[2019-06-05 19:45] kojustin opened #262 "`jira login` should support reading from stdlin"
There are use cases where it would be useful for `jira login` to read the password from stdin. For example, if there is a system that generates one-time passwords for use with jira using either the `keyring` or `pass` password sources is awkward. Or if I had some other command line tool that was able to fetch passwords for me, it would be nice if I could just do

[code]

[2019-06-05 20:47] mafrosis commented on #262
Second this one. I use 1password's `op` command, and cannot pipe my password into `jira login`

[2019-06-05 21:06] coryb commented on #262
The code for the password collection is here:
https://github.com/go-jira/go-jira/blob/master/jiracli/password.go#L39

We could either implement a bypass to skip the survey.Ask prompt and just read from stdin when no tty detected, or you could implement some other password-source configuration, maybe something like:
[code]

Either way, most of us have very limited time, but PRs are very welcome.

[2019-06-05 21:24] #262 closed

[2019-06-06 13:25] DictumMortuum commented on #233
Got it working by setting issuetype as a global option. Not sure about assignee and components though :(

[2019-06-11 17:28] undx commented on #259
I have the same behavior on my side (v`1.0.20`).j
Works great when embeded in `config.yml`  but not when in an external YAML file.

BTW: This is really really a great piece of code :+1:

[2019-06-12 22:38] edubxb commented on #250
After some investigation, I discovered that the build need to use the flag:

`-tags gnome_keyring`

to make it work with GNOME Keyring, as explained in the [tmc/keyring](https://github.com/tmc/keyring) README.

After building it myself, the error changes to:

[code]

so finally, to make it work, I created the password entry in the GNOME Keyring manually by this way:

[code]

[2019-06-14 22:30] philmerricksowi commented on #242
Totally agree, it was really confusing that on a second connection attempt I was no longer able to authenticate

[2019-06-17 22:52] philmerricksowi opened #264 "Allow import/export with some additions"
I'm regularly using Jira's standard, buggy csv export/import to replicate issues between Jira Cloud and Server.  I imagine with some template magic I could get an export in a useful format, but I think import might be difficult as create doesn't allow arbitrary assignment of issue keys,  I notice create allows for saving the issue as yaml.  Is there a way to pipe yaml into create?

[2019-06-19 04:12] rschmied commented on #250
thanks, need to try this... sounds very promising!

[2019-06-20 13:52] examinedliving commented on #207
For what it's worth, the only thing that got this working for me was setting the project as an environmental variable.  I didn't have a language issue, but I got the same error you did every time.  When I set `JIRA_PROJECT` and used `%JIRA_PROJECT%` (I'm on Windows), it worked.  Nothing else I tried did it.  Doesn't make sense to me, but that's what I got.

[2019-06-21 19:00] dxchea opened #265 "Unable to get stdin authentication to work"
Hi all,

I am unable to get the stdin password authentication to work.  When I issue this command './passgen.sh | jira login --user=testuser', I am getting the following message:   WARNING Unknown password-source: stdin

This is my config.yml:

    endpoint: https://jira.server.local
    password-source: stdin

passgen.sh is just a bash script that is echoing a password.

[2019-06-22 00:50] base698 commented on #241
@agzam if you use push auth with okta, I created a login script wrapper for the command line using puppeteer.  It generates the cookies file in `.jira.d/cookies.js`

[2019-06-23 18:49] lynncyrin commented on #261
Definitely wanna do something different here, closing!

[2019-06-23 18:49] #261 closed

[2019-07-01 16:25] mattenklicker commented on #246
The sprint handling seems really crappy in jira (or maybe in this specific setup?). When a jira issue with a sprint is viewed it returns the map from above. When a sprint is set it needs to be the sprint id only.
So I changed my view template to
[code]
and the edit template to
[code]

[2019-07-01 20:56] bomjkolyadun commented on #191
@coryb thank you for pointing out to the right direction. I fixed a couple of errors – now it works for me.

[code]

[2019-07-02 21:46] kbakk commented on #176
While the template feature is nice, it would also be good with a simpler way to specify columns to include - eg. something like `jira list --table=Key,Summary,Type,Status,MyField:.customfield_11050`

[2019-07-09 17:43] nlieb commented on #241
@base698 could you post the shape of the expected cookies.js file?

[2019-07-09 17:46] base698 commented on #241
[code]

[2019-07-16 15:28] volker-schukai commented on #207
the message remains the same

[2019-07-17 18:25] dlobue commented on #237
I would like to do the same.

[2019-07-24 17:50] agzam commented on #241
Holy shit! @base698 This worked! It took me over 3 months but I got it (thanks to you guys) to work. Oh wow, this thing feels to be orders of magnitude faster that UI.
Now, how can I get results of `jira view` in json format? That possible right?

[2019-07-24 17:51] coryb commented on #241
the `debug` template will dump in json, so `jira view -t debug` should do it.

[2019-07-24 18:19] agzam commented on #241
@base698 Can you explain puppeteer script workflow? So it logs-in through okta, etc. I get that. But what do you do when it requires "Okta Verify" validation on the phone? That part I guess can't be easily automated, right?

[2019-07-24 18:21] base698 commented on #241
It prints out "look at duo" and gives you time to hit the validation.  There's probably a way to do an android emulator and automate it, but I just do that step manually now.

[2019-07-24 18:26] agzam commented on #241
Cool, I'm gonna try to write a puppeteer script, if that takes me too long I may have to beg you to share your solution, but just for the sake of good sportsmanship/crafting don't do it just yet :)

[2019-08-01 17:45] agzam opened #268 "Display subtasks for tasks that have them"
Does anyone know how can I access "parent.key" in custom template for a subtask? I am trying something like:

[code]
but that's not working :(

Can anyone give me a clue how to get this?

[2019-08-01 18:23] coryb commented on #268
It is subtle:
https://golang.org/pkg/text/template/

So Something like:
[code]

[2019-08-04 22:17] agzam commented on #241
@base698 I made it: https://github.com/agzam/jira-okta-puppet
It works. Not using headless mode at the moment, there's only one minor thing I have to fix, but it mostly works.

[2019-08-05 03:21] agzam commented on #268
Hmm. no I think the issue is, there's no `project` field there. Maybe I should try the other way around, get the tasks and then check if they have subtasks and the display them ¯\\\_(ツ)_/¯

[2019-08-05 05:39] agzam commented on #268
Hmm... I'm trying to get a list of tasks with subtasks like this:

    TASK-1
          SUBTASK-11
          SUBTASK-22
    TASK-2
    TASK-3
          SUBTASK-31

But it seems tasks don't carry any info about subtasks, is there any way to get this done?

[2019-08-05 06:14] coryb commented on #268
Oh, I misunderstood your question.  I am not sure how to get this done, I think in jira task/subtask is only connected via some sort of "link" field, they won't be returned from the search in a tree like structure that you want to print.  I am not sure what property indicates if an issue is a subtask or parent task, it is probably possible to get what you want, but I suspect it will not be easy.

[2019-08-05 18:00] sbuvaneshkumar opened #269 "Provide command line option to specify password"
Currently the CLI supports only username field for login.
[code]

It would be nice if it has -p, --password option as well to specify basic auth password.

[2019-08-05 18:17] coryb commented on #269
There are many authentication options:
https://github.com/go-jira/jira#authentication

If none of those options work for you, I would consider accepting a PR for allowing the password to be set via an environment variable, something like `JIRA_PASSWORD=secret jira ls` or:
[code]

Adding a `-p|--password` option to a command line is the least secure option and not something I am willing to consider

[2019-08-06 19:38] agzam commented on #241
@base698 the only problem that's slightly annoys me - it expires too soon for some reason. Sometimes I have to run my script multiple times a day. And I can't think of a way to force go-jira to execute that script automatically, instead of prompting for password (when the tokens expire)

[2019-08-06 20:19] agzam commented on #268
That's a ton of good info, thank you @coryb. I was able to get what I wanted, it's a bit tangled, but basically I did this:

    # in config.yml:

    custom-commands:
      - name: mine
        help: display issues assigned to me
        script: |-
          {{jira}} list --template list --query "resolution = unresolved and assignee=currentuser() and project = $JIRA_PROJECT ORDER BY priority asc,

[2019-08-08 15:25] dxchea commented on #265
So I'm going to assume stdin password source is not working.  Or am I doing something wrong here?

[2019-08-09 05:59] unerh commented on #265
I had the same issue. If you installed go-jira with the command in the instructions like I did. Then I'm guessing it's because it's not released yet. `stdin` support was added 6th of June. Where as the last release was made in 2018.

Might need to try and build locally. I'll be having a go at that.

[2019-08-13 12:31] dxchea commented on #265
I see.  Will give that a try as well.  Thanks.

[2019-08-13 15:30] brandt commented on #132
In my case, the problem was that I was using the wrong extension for the config file:

Bad: `config.yaml`
Good: `config.yml`

[2019-08-14 21:10] williamh opened #270 "viewing tickets on a board using go-jira"
Hi all,

I use go-jira as my primary means to access my company's Jira; I am blind, and I find it much more friendly than the Jira web site for a screen reader.

I need to know how to translate a URL like the following into something I can query with go-jira.

https://jira.mycompany.com/secure/RapidBoard.jspa?rapidView=nnnn&projectKey=FOO

Thanks,

William

[2019-08-20 20:42] williamh commented on #270
friendly ping, does someone have a suggestion for this?

[2019-08-20 22:14] jaymzh opened #271 "Can't set labels"
I was able to show labels in my edit biew by adding:
[code]

into the template, but no matter what I do to set it, I cannot, I get:

[code]

[2019-08-20 22:27] jaymzh commented on #271
OK, for those who care, this is because of:
https://jira.atlassian.com/browse/JRASERVER-27929
which would have been fixed by:
https://jira.atlassian.com/browse/JRASERVER-27936
which was closed by atlassian for "lack of traction"

*headdesk*

[2019-08-22 07:24] unimun opened #272 "Can not parse JSON from response"
When I request list of issues on self-hosted Jira(v7.1.1), it returns with malformed JSON response like:
`❯ jira mine -vvvv
DEBUG Request 1: POST /issue/rest/api/2/search HTTP/1.1
Host: XXX.XXX.XXX.XXX
User-Agent: Go-http-client/1.1
Transfer-Encoding: chunked
Authorization: Basic XXXXXXXXX=
Content-Type: application/json
Accept-Encoding: gzip

e9
{"fields":["summary","assignee","created","priority

[2019-09-07 05:53] mikepea opened #274 "Cut a new release for modules support?"
Hey @coryb  - mind if I tag master with the 1.0.21 version, so we've got a real release with modules supported?

[2019-09-07 15:51] coryb commented on #274
yeah, sounds good.  I have been meaning to do this for a while.
It has been a while, but I think the release process is:
[code]
Then I copy/paste the changelog snippet into https://github.com/go-jira/jira/releases/new
and attach all the cross platforms binaries in the ./dist directory

Let me know if you run into problems.

[2019-09-10 02:32] mikepea commented on #228
This doesn't appear to have fixed the issue. I'm testing out a branch that would shift from using gopkg.in/Netflix-Skunkworks/go-jira.v1 to github.com/go-jira/jira -- and this is what I'm getting:

[code]

[2019-09-14 05:13] #228 closed

[2019-09-15 05:59] mikepea commented on #274
The 'make all' step doesn't seem to be working for me at least:

[code]

I'm not sure how to get this working

[2019-09-16 03:42] mikepea opened #277 "jiracli.findClosestParentPath is broken with figtree v1.0.0"
Somehow I managed to update the go.mod to use coryb/figtree v1.0.0 -- I think this happened kinda naturally, since the current specified version is pinned to v0.0.0-{commit}.

There's a difference in the function signature, that results in an error:

[code]

[2019-09-16 17:49] coryb commented on #277
fixed in #278

[2019-09-17 00:31] #277 closed

[2019-09-17 00:55] coryb commented on #274
Could you try the `make all` again?  I updated the Makefile target to use a fork of xgo more actively supported and theoretically has go module support.

[2019-09-17 01:47] mikepea commented on #274
Looks like it works! I've cut the v1.0.21 release - the Makefile process was a little flakey due to NEWVER and CURVER not being calculated correctly (something to do with the v1.0.20 tag?), but I think I've gotten around that by setting them as variables on the command line:

[code]

[2019-09-17 01:47] #274 closed

[2019-09-17 02:42] coryb commented on #274
Nice, yeah the CURVER and NEWVER can get messed up if you previously ran the release process and it fails somewhere in the middle (after the git tag is applied).  Glad you got it working!

[2019-09-17 13:33] henrik-farre opened #279 "prebuild versions of 1.0.21 does not look like correct builds"
If I download https://github.com/go-jira/jira/releases/download/v1.0.21/jira-linux-amd64 it is only 354K big, and `file jira-linux-amd64` says:

jira-linux-amd64: current ar archive

It does not work to chmod +x the file and try to run it :)

[2019-09-17 14:14] vabue commented on #279
Same with the windows versions. 355KB and "This app can't run on your PC".

[2019-09-17 15:18] mikepea commented on #279
We used a new fork of `xgo` to make the builds, and tbh I did not think to
test them directly. Whoops!

I'll take a look later today (and add some tests to make sure they work in
future!)

On Tue, Sep 17, 2019 at 7:14 AM Valentine Budkin <notifications@github.com>
wrote:

[2019-09-18 05:42] mikepea commented on #279
I've updated with new versions built using gox rather than xgo -- they appear to be working for me, but please test and let me know if you have problems. I don't have a windows box to test against.

[2019-09-18 07:25] henrik-farre commented on #279
Works for me :)

[2019-09-18 07:25] #279 closed

[2019-09-20 00:05] jjafuller commented on #270
Boards are backed by filters. You should be able to select the filter using jql. See: https://community.atlassian.com/t5/Jira-questions/how-to-I-find-all-issues-in-an-agile-board-using-JQL/qaq-p/284854

[2019-09-30 23:27] pcockwell opened #281 "When transitioning issues, it only finds the first partial match to the new transition state"
Assume there are 4 states for a ticket - `To Do`, `In Progress`, `PR`, and `Done`

When running `jira transition PR PROJ-1234`, per https://github.com/go-jira/jira/blob/eead13aef14de4f4f4a1393a3f0cb803a03001ff/jiradata/TransitionsFuncs.go#L10-L18 it will only search for the first potential match, which in this case will be `In Progress` because `pr` is contained within `in progress`.

It would be

[2019-10-01 01:49] #281 closed

[2019-10-03 06:33] patrickpichler opened #284 "Add gopass support"
Hi,
as pass is already supported as password source, i wondered if it would be possible to add gopass support as well.

[2019-10-05 08:11] #241 closed

[2019-10-06 01:01] BorysDrozhak commented on #172
the problem with executable yml that second arguments, like for example: `jira epic add` will not work.

[2019-10-10 14:59] daveph914 opened #287 "stdin password source does not work"
Has anyone been able to get stdin password source to work?

[2019-10-21 08:28] #284 closed

[2019-10-21 08:31] patrickpichler opened #288 "Make used gopass/pass binary configurable"
It would be nice to make the gopass/pass binary used configurable. This would allow to configure gopass to use for example the QT frontend for pinentry, without changing it for the whole system.

[2019-10-24 02:55] hkyeakley opened #290 "bad file descriptor"
Hello,

I have installed go jira in my home directory on one of my admin systems.

The home directory is NFS mounted from an Isilon storage appliance.

If I try to use go jira from my NFS mounted home directory, I get this.

[my_username@linux_box ~]$ jira ls
usage: jira list [\<flags\>]
alias: jira ls [\<flags\>]

Prints list of issues for given search criteria

Global flags:
--help Show context-

[2019-10-31 10:07] estensen opened #291 "Cannot install"
The instructions for building and installing doesn't work
[code]

Running macOS Catalina 10.15.1 Beta

[2019-10-31 15:30] pdecat commented on #291
Had the same issue, it was caused by old content in `GOPATH`.

Work-around (tested only with go 1.13.3 on Ubuntu), clone then build:
[code]

[2019-10-31 18:15] hkyeakley commented on #290
It occurred to me to grep for the error message out on the go directory.
The error I'm getting is line 202 of the following file.
go/src/gopkg.in/Netflix-Skunkworks/go-jira.v1/vendor/github.com/coryb/oreo/oreo.go

"return fmt.Sprintf("Failed to save cookie file: %s", e.err)"

Again, if I set my HOME env to /var/tmp/my_username, everything works fine.
But if I leave my home env as /home/my_user, I

[2019-11-01 17:35] andrei-a-papou commented on #271
@jaymzh how about the `jira labels` command?

[2019-11-01 17:42] jaymzh commented on #271
@andrei-a-papou - oh I missed that, that's not a bad work around. Thank you! It would be nice though if `go-jira` could handle this as part of creation, even if it has to make two requests... having to make the ticket, copy paste the number, run a second command... defeats the purpose of dropping me into vim to input all the info. Still, thanks for pointing me at `jira labels`, that's definitely w

[2019-11-01 17:44] jaymzh commented on #271
Actually, that also fails:

[code]

[2019-11-01 17:58] andrei-a-papou commented on #223
@rusdevops  Would the `jira epic list` command help?

[2019-11-01 19:25] andrei-a-papou commented on #271
Sorry to hear that, works for me (just tested). But the issue I tested on does have _Labels_ on the _Edit_ screen. So I guess it the `labels` command uses the same API call that's subject to the JIRA limitation you pointed out above... (https://jira.atlassian.com/browse/JRASERVER-27929)

[2019-11-03 13:32] andrei-a-papou opened #293 "option to disable color output"
Thanks for this amazing tool!

It would be useful to make colored output configurable to accommodate tools that cannot handle color sequences (such as Jenkins logs).

I'm also building a [rofi](https://github.com/davatorium/rofi/issues/1024)-driven menu-based JIRA app that relies on `go-jira` under the hood, and sometimes color sequences get in the way big time (like when catching errors).

A sett

[2019-11-08 08:50] dgrabla opened #294 "How to configure custom/localized transitions"
I'm using a Jira instance with non-standard transitions:

[code]

I'm trying to make the shortcuts todo, start, resolve, done etc transition related commands (or aliases?) to use my custom transition names. I tried the following:

[code]

They both return
[code]

Using the transition command works
[code]

I exported the templates but... no todo template is exported.

What should I have on the conf

[2019-11-13 22:28] devstuff commented on #293
As part of this issue, perhaps support the `NO_COLOR` environment variable too (https://no-color.org/).

[2019-11-14 10:32] dgrabla commented on #116
Is anybody working on this, or did somebody found a workaround to prepend the ticket name with the project when it contains only numbers?

[2019-11-14 20:22] agzam commented on #181
Can someone please integrate this. It is a bit annoying to have to type something like `jira view BLABLA-1839`, I want to type `jira v 1839` instead.

[2019-11-17 12:51] jamesog commented on #291
Turning on modules mode explicitly seems to make it work:

[code]

This is the same effect as running `go install` inside `$GOPATH/src/github.com/go-jira/jira/cmd/jira` as @pdecat suggests above.

@mikepea is this a side-effect of ba7cc1314580869001ceac124e881799b7f3ebfa where you switched away from gopkg.in to use modules?

[2019-11-22 16:16] aairey commented on #81
Any example configuration on how to use this?

Ideally I would log in through the browser as I have to through an SSO application.

[2019-11-25 19:06] dobbymoodge commented on #176
I've got a PR to attempt to kind-of-fix this in #295. It doesn't address the issue where some values are much longer than a given column assumes, but it does make the column widths easier to tweak, and adjusts some of them to maybe-more-reasonable values. If anyone takes issue with the new values I picked, it will be easy to change since they're [all specified at the top of the template instead of

[2019-11-25 19:42] dobbymoodge commented on #167
This looks like the behavior lives in the [figtree `findParentPaths` function](https://github.com/coryb/figtree/blob/58176d03ef0d6f41287b1eca11d7cf76493cd87d/figtree.go#L244-L276) that [eventually](https://github.com/go-jira/jira/blob/590244947b92c5cfef5dc61b4e1aa931f8da5762/jiracli/util.go#L29) gets [called](https://github.com/go-jira/jira/blob/590244947b92c5cfef5dc61b4e1aa931f8da5762/jiracli/tem

[2019-11-27 03:36] varunshaji opened #297 "can't login using jira-cli"
Keeps getting this error - ERROR invalid character '<' looking for beginning of value .
jira version - v7.5.2 and is a hosted jira

[2019-11-27 03:44] varunshaji commented on #297
when running the
curl  -X POST -H 'Content-Type: application/json' -d '{"username": "qweqwewe", "password" : "qweqweqe"}' https://jira.qweqwewqe.bw/rest/auth/1/session

[2019-11-27 20:16] sashman commented on #297
What does your `.jira.d/config.yml` look like?

[2019-11-27 20:18] sashman opened #298 "Next release to get sprig in templates"
Could we please get the current master released? It seems the last release is missing `sprig` in templating?

[2019-11-27 23:28] varunshaji commented on #297
user: varun.shaji@test.co.au
login: varun.shaji
endpoint: https://jira.test.co.au
editor: subl

[2019-11-29 03:56] varunshaji commented on #297
is this a known issues. or a version error. It was working intitally and then one fine morning stopped working

[2019-11-29 09:12] svenXY opened #299 "Commands without output generate 'ERROR Invalid Usage: JSON Parse Error: EOF'"
Hi,

I came across #135 and implemented the suggested custom-command. It works down to the last command where it tries to POST the issue/s to be added to the sprint.

It adds the issue to the sprint successfully, but I keep getting 'ERROR Invalid Usage: JSON Parse Error: EOF'.

Running this with curl seems to have worked though:
[code]

The problem to me seems to be that no output is returned by t

[2019-11-29 09:53] svenXY commented on #299
Update: The problem seems to be to handle the output of the command as the issues are effectively added to the sprint even though errors are shown...

[2019-11-29 15:51] sashman commented on #297
I found some initial difficulty logging in, but when I reset tokens and added `password-source: keyring` it worked fine.

[2019-12-01 04:13] mlerman opened #300 "Use of an input file instead of the editor"
Very simple question. Is it possible to use a text file instead of being prompted to use the editor?
For example I would need an option `--file="path\to\input_file" that replaces --editor="notepad++.exe"`
I can this way prepare the input file prior to launching the jira command, and get through this step without user interaction.

[2019-12-02 04:30] #288 closed

[2019-12-03 02:19] #176 closed

[2019-12-03 06:51] svenXY commented on #268
Nice one, thanks!

[2019-12-03 07:37] beanaroo commented on #235
Could it potentially fallback to checking `$XDG_CONFIG_HOME` if nothing is found in `$HOME`?

[2019-12-04 02:54] mcint opened #303 "Table template differs between interactive and piped output"
`jira ls -l 5 -t table` output differs from `jira ls -l 5 -t table | cat`. Table output seems to be different based on whether output is pipe or raw terminal.

It would be preferable to have a template that can be piped to `column`, usable to have a (global) width override, and nice to have the columns.

Related: https://github.com/go-jira/jira/issues/176

[2019-12-04 04:21] varunshaji commented on #297
Is there someway I can fix this.. I don't think token works in enterprise case. Are we using the basic authentication - then it could be that it got deprecated. I would really like to get this working mates..

[2019-12-04 05:01] coryb commented on #303
I think this has been fixed in master via #302 , but has not been released yet:
[code]
[code]
If you want a more cli parsable format, you can make a csv template:
[code]
With this template:
[code]

[2019-12-04 05:14] coryb commented on #297
It looks like you have your `user` and `login` properties backwards.  For basic auth, I think you will just need:
[code]
the `login` field is for mostly needed for Atlassian cloud.  You should be able to validate with:
`ira session -vvv` you should see the `Authorization: Basic` header in the debug output.

[2019-12-04 05:48] coryb commented on #297
If this used to work for you then it might be that your admins upgraded the local install of Jira.  Without api-tokens `jira` relies on sessions and cookies stored in a cookie jar in ~/.jira.d.  It is possible that your admins disabled the usage of cookies for authentication in which case `jira` will no longer work.

You can try forcing basic auth on every request, there are some docs here: https:

[2019-12-04 06:35] svenXY opened #304 "ERROR Invalid Usage: template: gojira:22:50: executing "gojira" at <.name>: can't evaluate field name in type interface {}"
the above error occurs when using `jira view PROJ-123`.

It cannot resolve the watchers in the view-template. I found customfield_10110 or similar in the code, but here it is a different field (which can be the case for different jira installations, I know). When trying to fix it, I tried recompiling with the field adjusted, but to no avail.

Any idea what to do to fix it?

Thanks,
Sven

[2019-12-04 06:37] coryb commented on #300
You can use the `--noedit` option to prevent the editor from opening.  I think the template need to be in .jira.d/templates now, but you can create a fully filled in template in like at `.jira.d/templates/custom-issue` then run `jira create -t custom-issue --noedit`

[2019-12-04 06:56] svenXY commented on #294
I agree that it should help non-English version users a lot to be able to set these statuses if they are not standard.

Furthermore, being able to set something yourself (=overwrite) is a feature that could also help with the problems arising from the usage of customfields for standard things like e.g. watchers (see #304 as an example)

[2019-12-04 06:59] coryb commented on #304
This is just a template issue, you can export templates and customize.  I am not sure what `customfield_10110` is for your install but it seems different than what I am used to.  To see all the available fields you can just dump it is a json with: `jira view PROJ-123 -t json`

You can also export templates and modify if to your needs with:
[code]
that will write ~/.jira.d/templates/view
then you c

[2019-12-04 07:14] svenXY commented on #246
For me it was customfield_10220 and to be able to see the sprint names only, I needed:
[code]

[2019-12-04 07:22] coryb commented on #294
Would [custom commands](https://github.com/go-jira/jira#custom-commands) work here instead of modifying what `todo` means?  You can make a local language alias:
[code]
Then you can use it like `jira aufgaben JIRA-123`

[2019-12-04 08:20] dgrabla commented on #294
Thanks @coryb  thats a good workaround  :+1: I guess we need to live with custom commands for now. Is it possible to HIDE or disable the hardcoded commands?

[2019-12-04 12:28] svenXY commented on #304
Hi @coryb , thanks for the answer. I had done this alreadyand yes, for me it is a different customfield that holds the watchers. Furthermore, you do not get a structure to take .name from, so for me it boiled down to:

[code]

[2019-12-04 12:28] #304 closed

[2019-12-04 13:36] svenXY commented on #294
Or to make it possible to "overwrite" the hardcoded commands with custom commands.
I tried to overwrite start with a custom command, but got an error message.

[2019-12-04 16:44] coryb commented on #294
It is currently not possible to hide or overwrite internal commands.  It should not be too hard to implement, but I have very little time these days.  PR's are very welcome if you want to attempt either of changes yourself.

[2019-12-04 22:43] mlerman commented on #300
Thank you coryb. I never succeeded to use the templates.
I did export the templates with the command `jira.exe export-templates` and it exports a bunch of files in C:\Users\me\.jira.d\templates\
But I still don't know how to export a custom issue, and reference it, with the create command, as you mentioned.
I have checked here: https://easesolutions.atlassian.net/wiki/spaces/REQ4J/pages/64920002/C

[2019-12-04 23:05] coryb commented on #300
Yeah, I agree, the editor hack is obscure.  This is an open source project and we will review pull requests  😄 So feel free to add a `--file` option to `create` and/or update the `jira request` command to do similar.  I have very little time these days so I am unlikely to implement this myself.

[2019-12-05 09:32] hendrikmaus commented on #299
As a quick workaround to get the command to exit with 0, I used:

[code]
Where ` > /dev/null 2>&1 || true` is not a pretty thing to do, but makes it work for now.

[2019-12-12 22:17] rodcloutier commented on #297
I had the same issue if you don't have the proper url in your endpoint.
@varunshaji Your curl example doesn't use the same domain as your config.yml. Is it intentional?

[2019-12-14 19:09] freedemster opened #305 "Error to `go get github.com/go-jira/jira/cmd/jira`"
Hi,

When I try to get this program I got an error:
[code]

**OS**: MacOS Mojave 10.14.6
**Golang**: 1.13.4 darwin/amd64

[2019-12-21 13:46] jaypee-f commented on #305
Needs a release. Works from source

[2019-12-22 04:53] mlerman commented on #300
@coryb thank you. I have submitted the pull request.

[2019-12-22 08:57] andrei-a-papou commented on #299
I also had to do some ugly stderr redirection to work around this issue...

[2020-01-02 20:56] TheKevJames commented on #261
@lynncyrin I'm hoping for basically the same thing as your original request -- what was the "something different" you ended up doing to resolve this? /cc @coryb in case you recall!

[2020-01-02 21:57] lynncyrin commented on #261
@TheKevJames read from here and down! https://gophers.slack.com/archives/CK2BQRMP1/p1559269896000200

Here's the invite if you aren't in the gophers slack already => https://invite.slack.golangbridge.org/

[2020-01-02 22:11] TheKevJames commented on #261
@lynncyrin thanks for the lint and the invite! Sounds like you ended up implementing this as a forked internal command, then? Any chance there's a public copy of that work somewhere (I couldn't find a fork)?

[2020-01-07 15:35] lyda commented on #305
I get the same error.  Building on Linux with go 1.13.

[2020-01-07 18:55] Flare576 commented on #230
This is an older issue, but it's still marked as OPEN and I feel like this might be a meaningful contribution:

https://github.com/Flare576/dotfiles/blob/master/.jira.d/config.yml

I have ~20 custom commands I use on a daily basis.

My current project has moved to a hosted Jira instance, so I'm not able to rely on the API token anymore (I miss it a lot). So, every morning I have to load up the web

[2020-01-07 19:08] Flare576 opened #307 "args and options shared between custom commands"
Situation: I have a lot of custom commands, some of which share argument and option names.
Problem: If one of my commands `defaults` the value of an argument, ALL of the commands using that argument name get defaulted. In addition, it seems that any args from other functions also bleed
Expected: Each command's arguments/options be siloed

Example:

[code]

running the "cmd1" command with no input

[2020-01-10 08:22] suntehnik commented on #305
Used to upgrade go up to **1.13.6**
`
brew upgrade go
==> Upgrading 1 outdated package:
go 1.11.5 -> 1.13.6
`

Successfully built using make:
`cd $HOME/go/src/github.com/go-jira/jira/
make
make install
`
Then jira binary is accessible via $HOME/bin/jira
You can put your $HOME/bin in the PATH variable then and use jira binary.

[2020-01-10 11:01] plallin opened #308 "using stdin password results in an error"
## jira version

[code]

## jira config

[code]

## Expectations

As per the README, I would expect `jira` to be able to take a password input from stdin, as follows:

[code]

## Actual result

When passing a password from stdin, `jira` throws an error and fails to log me in.

[code]

## Additional notes

I am using MacOS Mojave 10.14.6 (18G2022), however I do not believe this is an issue related

[2020-01-15 05:14] tomelliot16 commented on #308
I have run into the same issue on mac and ubuntu.

[2020-01-16 09:29] matiasvc opened #309 "Stop accidentally changing a issue assigned to someone else."
Is there a way to make it more difficult to accidentally alter an JIRA issue assigned to someone else with go-jira?
It is easy to write an issue number wrong by mistake. I miss something like an "Are you sure?" prompt when trying to alter an existing issue assigned to someone else.

[2020-01-16 10:54] douglasward commented on #212
I would also find this extremely useful! It would avoid having to create custom commands that repeat existing commands and then carry out additional commands afterwards.

[2020-01-17 19:37] freedemster commented on #305
Unfortunately, updating to 1.13.6 did not help, I get the same error.
Of course, I built the application from the source for a long time, but this installation method is given in README, so IMHO it should work for everyone.

[2020-01-17 20:19] ngouy opened #310 "create subcommands to custom / existing command"
Hy there. Thank you for this useful project.

Is there a way to edit my template so I can add subcommands for my existing custom ones, or even to already existing commands which already have subcommands (such as `jira epic ...`)?

[2020-01-21 04:18] brettmichael commented on #305
I'm getting it too. Interestingly go-jira-ui, which seems to use go-jira as a dependency, built just fine

[2020-01-22 19:07] ScourgeTH opened #311 "Allow Jira login using custom source command"
So right now it is possible to use command line password alternatives through the use of the stdin password-source.  This is wonderful and works well enough.  It does not however integrate that well with the rest of the commands.  By default it seems that if a login session has expired and any of the standard commands are called, go-jira will attempt to call "jira login" in order to initiate a new

[2020-01-30 18:25] k0pernikus opened #312 "How to login?"
I installed go-jira via:

[code]

I have setup my basic ~/.jira.d/config.yml with an endpoint. I expect to be prompted for credentials, yet I see on a notice after `jira login`:

[code]

I am not aware of having setup any api-token authentication method. What am I doing wrong?

[2020-01-30 18:30] k0pernikus commented on #312
It helps to completely read the [README.md](https://github.com/go-jira/jira#authentication). I had to add the endpoint, user (email address), and I must create a token at:

https://id.atlassian.com/manage/api-tokens

I went for the less secure option to:

    export JIRA_API_TOKEN=$MY_CREATED_TOKEN

The login command is obsolete and I can just use any command as it will connect by itself, e.g.

[2020-01-30 18:30] #312 closed

[2020-02-12 12:31] miguelpuyol opened #313 "Table template does not work fine with latest JIRA Cloud version"
Basically, there is no longer a `reporter.name` or `assignee.name` but `reporter.displayName` and `assignee.displayName` when doing a `jira list --template table`

This is the one that works for me:
[code]

[2020-02-14 19:24] ma44in commented on #308
I've got the same issue today and could fix it with removing the trailing newline with the '-n' option of echo. So, you could try this:

`echo "hunter2" | jira login --endpoint=https://jira.company.com --user=pauline.lallinec`

[2020-02-14 20:20] plallin commented on #308
Unfortunately that yields the same result:

[code]

My configuration file at the time of running this command line is:

[code]

Version of `go-jira`: `1.0.22`

[2020-02-17 10:31] pcockwell opened #314 "Unable to self-assign issues with jira cli"
I've been using the jira cli as part of custom commands I run on my system to simultaneously create a branch based on the ticket name, assign it to myself in Jira, and move the issue to In Progress. Until recently, it has been working quite well. I was on vacation for a few weeks, and upon my return it has stopped working.

- Whenever I run `jira view TICKET_ID`, it returns the ticket details fine

[2020-02-17 12:13] dvdbng commented on #314
Same here, it was working last Friday so it must have been changes in jira API

[2020-02-18 04:40] pcockwell commented on #314
@dvdbng I've made an attempt at a fix for this, in the PR above. I've tested the functionality (assign/watch) locally, and it works. Now, we wait on maintainers to see how poor my code is, and what testing related changes need to be made haha. If you are urgently in need of the functionality, you can use those changes, and run `make build && make install` locally. This will give you a `jira` binar

[2020-02-19 02:42] keien commented on #314
I just ran into this as well and did the above - seems to work, though I struggled with figuring out what I was supposed to have in my `config.yml` now. The PR looked like I'm supposed to add a new `account-id` field, but I tried various combinations of `user`, `login`, and `account-id`, and in the end just keeping my initial `user` and `login` and no `account-id` seems to work, whereas if I add `

[2020-02-19 02:47] keien commented on #314
Just kidding - with no `account-id`, the `take` command returns an OK but doesn't do anything, and `assign` still says `ERROR Invalid Usage: Specified user does not exist or you do not have required permissions`

[2020-02-19 04:36] pcockwell commented on #314
@keien The way mine is setup is that I have a `login` field so that the login functionality still works, and I have an `account-id` field so that the `assign`, `take`, and `watch` functionality works (with the changes).

[2020-02-19 04:38] adrianmace opened #316 "ERROR reporter: Reporter is required on all creates."
Jira Cloud. Has begun occurring sometime between monday and now. Template is included below.
`jira create -p CSE`
[code]
`ERROR reporter: Reporter is required.`

[2020-02-19 15:05] sublimino commented on #316
I also see `%!s(<nil>)` when reading from the API for reporter and assginee:

[code]

[2020-02-19 15:06] sublimino commented on #316
I also see `%!s(<nil>)` when reading from the API for reporter and assginee:

[code]

[2020-02-19 17:39] dhollinger commented on #314
Related: https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/

They removed `username` and `userkey` from the API entirely. You HAVE to now use `accountId` for everything

[2020-02-19 18:56] marcdeop commented on #316
I am also experiencing this issue. Most like Attlassian changed something on their API...

[2020-02-19 19:52] keien commented on #314
hmm, maybe I'm doing something wrong but I'm not getting it to work even with the fix
[code]

[2020-02-19 19:59] dhollinger commented on #314
@keien I ended up pulling down @pcockwell's fix branch (NOT his master branch), built the binary and placed it in my `~/bin` directory and it works just fine..... as long as I'm NOT in the go-jira source directory

[2020-02-19 19:59] keien commented on #314
I also have maybe a related issue where all of the user names in `jira view` show up as `<no value>` now

[2020-02-19 20:16] lyletagawa commented on #316
`https://community.atlassian.com/t5/Jira-Software-questions/Error-quot-Reporter-is-required-quot-With-reate-Isssue-REST-API/qaq-p/1302179`

`-v` output reveals that `fields.reporter.name` is not present in the response payload. the only close equivalent (to a username) seems to be `fields.reporter.accountId`

[2020-02-19 20:18] adrianmace commented on #316
You can get around it temporarily by omitting reporter field from your
template, but it will only default to the logged in user.

On Thu, 20 Feb 2020 at 7:16 am, Lyle Tagawa <notifications@github.com>
wrote:

--
*Adrian Mace*

[2020-02-19 20:51] dhollinger commented on #314
You have to change any template using `fields.assignee.name` to `fields.assignee.displayName`

[2020-02-20 04:54] pcockwell commented on #314
@keien Your `accountId` is not the email address. It's a unique key assigned to your account by JIRA/Atlassian. You'll need to select your profile icon on the bottom left, select `Profile`, and then select the characters at the end of the URL. For example, my profile URL is:

[code]
This means that my `accountId` is `5acdc3181f4cab2b635489d7`.

[2020-02-20 05:00] pcockwell commented on #314
@dhollinger @keien I just pushed another commit per the comments @dhollinger made regarding using `displayName` instead of `name`. This is now also included on my branch.

[2020-02-20 22:27] keien commented on #314
@pcockwell thanks, didn't know that; filling in my real account ID worked

for `displayName`, seems with the latest from your branch, fields like assignee and reporter are now showing up, but names for comments are not, yet

[2020-02-21 04:45] pcockwell commented on #314
I'll take a look at that

[2020-02-21 04:57] pcockwell commented on #314
Fixed. Unfortunately, in cases where someone has been tagged, that is included in the comment body as a reference to the `accountId` of that user. As such, there isn't really a way for me to convert that to the actual user's `displayName`

[2020-02-21 07:55] TheKevJames commented on #316
I suspect #315 should fix this issue, as well.

[2020-02-21 19:33] keien commented on #314
totally fine, thanks for the quick fixes!

do you know when this stuff will make it into the main repo?

[2020-02-24 04:44] pcockwell commented on #314
Hey @keien. Per @coryb in #315:

[2020-02-24 18:34] coryb commented on #314
There is a new PR #317 if anyone wants to try out the code.  The changes will try to detect jira-cloud vs jira-server (enterprise on-prem solution).  It will also try to convert any `username` inputs to the `account-id` when translating input to the APIs.  It should work without extra user configuration.  There are many edge cases where users are provided as input, I am not 100% sure I caught them

[2020-02-26 03:55] number5 commented on #316
https://developer.atlassian.com/cloud/jira/platform/api-changes-for-user-privacy-announcement
Would be great if they giving out deprecation warning before hand and have the url in the cryptic error "Reporter is required"

[2020-02-26 19:14] coryb commented on #316
I believe the latest release has fixed this:
https://github.com/go-jira/jira/releases/tag/v1.0.23

[2020-02-26 19:14] coryb commented on #314
I believe the latest release has fixed this:
https://github.com/go-jira/jira/releases/tag/v1.0.23

[2020-02-26 19:14] coryb commented on #313
I believe the latest release has fixed this:
https://github.com/go-jira/jira/releases/tag/v1.0.23

[2020-02-26 21:18] TheKevJames commented on #316
Worth pointing out that any user templates using `.name` also need to get migrated to use `.displayName` (or `.accountId`, etc) instead to avoid seeing nils... not sure where to put this, but maybe confused users will end up on this ticket haha

[2020-02-26 22:31] keien commented on #314
@coryb thanks for the update! And thanks to @pcockwell as well for providing the stopgap solution!

[2020-02-27 07:23] miguelpuyol commented on #313
Indeed! Thanks for the fix!

[2020-02-27 07:23] #313 closed

[2020-02-27 12:46] schorsch3000 opened #319 "Umlauts break template function abbrev"
I'm using abbref inmy list template to render some kind of table.
the Summary colum has a variable width, to make it as large as possible without line wrapping.
In this case the Summary gets cut after what i assume 15 chars, at least it should be.
the Summary "DNS-Eintrag prüfen" gets cut after 14 chars.

I assume (without having read the source) it gets cut after 15 bytes, leaving the multibyte ü

[2020-02-27 14:05] pdeschen commented on #316
I can confirm that this has been fixed by latest release

[2020-02-27 16:46] #316 closed

[2020-03-02 16:00] kroyagis opened #320 "how to repopulate templates?"
I've noticed that there were few changes to the templates. I removed my old templates directory and reran the install command but it's not repopulating the templates inside `~/.jira.d/` folder.

[2020-03-02 17:49] coryb commented on #320
`go-jira` will use the templates compiled into the binary by default.  You can re-export them with the `jira export-templates` command

[2020-03-02 17:49] #320 closed

[2020-03-09 09:14] #314 closed

[2020-03-09 23:59] keien opened #321 "Edit command failing with <no name> reporter"
[code]

when I run without `--noedit`, I do see that the reporter shows up as `<no name>` for all issues (other user fields like `assignee` is fine), while on Jira Cloud I can see that the assignee is there

maybe another `accountID`-related bug? I have a build off of latest master as of Feb 26th

[2020-03-10 00:02] keien commented on #321
FYI on other commands like `view` the reporter also shows up just fine

[2020-03-10 01:05] keien commented on #321
I guess the problem is more that when editing, `reporter` tries to use the `name` field instead of the `displayName` field when rendering the template, and I can see when running `edit` with `-t debug` that the `name` field doesn't exist anymore

[2020-03-19 08:31] malys opened #322 "Provide advance examples of templating"
I like your program but when I want to custom template or scripts. It's always difficult to be efficient.
Please could you improve documentation providing advance example (with variable loop, watcher...)
Thx
Great job.

[2020-03-26 09:59] jan-kaczorowski-ynd opened #324 "show sprints in `list` command"
Hello,
I am wondering if it is possible to return field containing sprint(s) to which tickets are assigned.
I can filter by, say openSprints like this:
`jira list -q "Sprint IN openSprints()" -t table`

but it seems I can't get it to return also the sprints field so I could use it as a column in the table.

[2020-03-26 20:50] metov commented on #312
I did read the readme but was still confused - thank you for explaining this concisely and clearly.

It would be helpful to put some idiot proof basic login instructions (like https://github.com/go-jira/jira/issues/312#issuecomment-580390357) right after the install section. A new user's first question is, "Does this even work properly?" -- until they can get correct output from `jira list`, none

[2020-03-27 22:02] metov opened #325 "`customfield`s always printed as nil"
My Jira issues have certain custom fields:
[code]
I modified the `table` template to include the value of this, and called the new template `mwe`:
[code]

But the cell always comes out containing `<nil>`, even though in the debug output it clearly has a value:
[code]

I don't really know Go so I was thinking that maybe my template syntax is just wrong, but it works for non-custom fields like `.fie

[2020-03-27 22:26] metov commented on #325
After looking a bit more, it seems that the `.fields` in list doesn't actually contain these `customfield`s, but had only a limited number of attributes: `assignee, created, issuetype, priority, reporter, status, summary, updated`

So where are the custom fields? How can I include them in the table output of `jira list`?

[2020-03-27 22:27] arenstar commented on #325
Im having the exact same problem ^^
How can i get access to to a customfield ?

`log.Println(issue.Fields["customfield_13055"])` == Nil

With a python client - i get correct results

[2020-03-27 22:35] coryb commented on #325
You have to specify the fields to return with the results for `list`.  Jira by default returns very little from queries (you can use all fields in JQL, but search only returns small subset). There is a `--queryfields` flag and you can use `queryfields: ...` in the `.jira.d/config.yml` file.

For example I use a  `jira epics` custom command like this:
[code]

[2020-03-27 22:39] arenstar commented on #325
Is there any way to do that in code when using the library?

# warning - this code is not runnable - but explains my goals
[code]

[2020-03-27 22:54] coryb commented on #325
Uh, yeah, you quoted it to me :) `QueryFields: "fixVersions,issuetype"` just modify that option.

[2020-03-30 13:29] pylipp opened #326 "--completion-script-* returns non-zero exit code"
I integrated `jira --complection-script-bash` in script for automated setup of the tool; I noticed that it returns exit code 1 albeit the behavior is normal. This results in the shell script to abort if the `errexit` aka `-e` option is set.
I'd expect that `jira` exits with code 0 if the command was successful.

[2020-03-30 21:33] metov commented on #325
Thank you @coryb - that solved my issue.

[2020-03-30 21:33] #325 closed

[2020-03-31 10:57] Nox-404 opened #327 "Bump to sprig 3"
Hello there,

Would be great to be able to use the latest sprig in templates !

Thanks for the work !

[2020-03-31 11:03] Nox-404 commented on #327
With it something like this:
[code]

would be easier:
[code]

[2020-03-31 15:22] ArnoSagawe commented on #212
Hi all,

Have the post commands been implemented? I didn't find anything in the changelogs.

Scenario: If command A was successful, a return value is returned (e.g. the new issue number). I have to use this issue number again in command B.

Which possibilities do I have to use the return value again?

BTW: Nice project! :)

[2020-03-31 16:54] williamh opened #328 "go-jira 1.0.23 unable to log into jira on aws"
Hello,

my company migrated jira to AWS and now i find that i am unable to log in:

[code]

The Jira admin advises that he can't see my login failure in Jira. I am using the latest release of go-jira on Linux.

How can I debug this further?

Thanks,

William

[2020-03-31 17:06] williamh commented on #328
I just tried again and got:

[code]

Now he is telling me that jira is requiring a captcha at the next login, so he reset it.

I just tried again and I'm getting messages like the first comment.
Help would be greatly appreciated since this is blocking me from using jira.

Thanks much.

William

[2020-03-31 20:29] williamh commented on #328
I think I need a way to see the network traffic between my client and jira to help debug, but I don't know of a way to do that.

[2020-04-01 16:26] #298 closed

[2020-04-02 09:58] ArnoSagawe commented on #238
Hi nnadeau, same here. Did you figured a solution. :) Best regards Arno

[2020-04-02 11:37] matt-canty-dragon opened #329 "How to unwatch issue"
This appears to be available but undocumented. Either way, I cannot figure it out. Also, appears to be impossible to do easily via the UI, as usual!

Functionality supposedly added in https://github.com/go-jira/jira/pull/30 with example:
[code]
When I try this I get
[code]

From the `jira watch help`
[code]

Nothing works, all result in
[code]

Tried
[code]

[2020-04-06 11:56] pylipp commented on #326
I think it's maybe an issue of the underlying [kingpin](https://github.com/alecthomas/kingpin/blob/b6657d9477a694e178dcba813954013bfd2f0346/app.go#L69) library but I could not find why there is a non-zero exit-code.

[2020-04-06 15:51] hkyeakley commented on #322
I agree. I really like this tool but would like a couple of walk through with how to utilize templates.

For example, our templates have a field called "Type". I would like to be able to set this in a bash script.

[2020-04-08 04:32] metov opened #330 "Custom command to list, edit comments"
Is it possible to write a custom command that lists and edits comments on an issue?

Both examples in the README are modifications of the `jira list` command; and `jira comment` only seems to support adding comments. Is editing comments supported at all?

[2020-04-08 20:05] metov commented on #212
I'll add my use case also:

The code markup in JIRA is something like `{{inline code here}}` and `{code}code block here{code}`. I don't like this and would rather use the Markdown backticks. I could have a script that does a simple regex substitution of `{{(\\w+)}}` for `'$1'` (using ' to represent backticks here). The actual working regex would take some developing, but that's beside the point he

[2020-04-09 07:00] shiywang opened #331 "Having a parameter -p for directly passing password for jira login"
Any reasons we don't want this?

I think it would be nice to have `jira login -u xxx -p xxxxx`

[2020-04-09 19:28] shiywang commented on #331
@coryb Is there any concerns why we don't have this flag? IF NOT, I will submit a patch.

[2020-04-09 19:42] coryb commented on #331
No, I will not accept a PR for a password flag, it is terrible for security.  There are a number of integrations with secure password providers (gopass, keychain, etc) and also a password provider to read from stdin (ie `echo "password" | jira ...`). If none of those options work for you I would consider a PR allowing you to use an environment variable

[2020-04-10 06:35] shiywang commented on #331
@coryb password from stdin is a workaround for me, but unfortunately, it doesn't work very well. https://github.com/go-jira/jira/issues/308

[2020-04-12 21:07] dlo commented on #291
@jamesog Thank you! This did it.

[2020-04-16 18:37] rattboi opened #333 "jira create stopped working"
Getting the following since yesterday:

[code]

my config.yaml has the following:
[code]

I'm running latest release: 1.0.23

[2020-04-17 12:42] jrabek commented on #333
Maybe an update is needed to https://github.com/go-jira/jira/pull/317?

[2020-04-17 15:25] wolgastj commented on #333
Similar seems to be happening with `jira assign` and `jira take`

[2020-04-17 15:30] jtomaszewski commented on #333
Yeah, it started happening today/yesterday. Seems like Atlassian has changed something again in their APIs and now fix from the https://github.com/go-jira/jira/pull/317 is not enough anymore.

[2020-04-23 08:52] BorysDrozhak commented on #333
Wondering if there anyone already created a PR to fix it

[2020-04-23 09:58] jkaan commented on #297
The issue I had was that I had `http` instead of `https`, which probably was setup to redirect to `https` and that was causing this.

[2020-04-23 11:07] felamaslen opened #334 "Cannot compile - "cannot use app" error"
Trying to install from source on macOS 10.15.4:

[code]

[2020-04-25 00:04] rattboi commented on #334
Same. I was going to investigate the `jira create` issue in #333 and couldn't get a working build :(

[2020-04-27 19:18] iamjvn commented on #334
This seems related?

[code]

[2020-04-28 13:01] nvgoldin commented on #333
Same here

[2020-04-29 07:46] chx opened #335 "Unable to assign users in a cloud instance"
I am using the latest version but no matter what I try I am getting the dreaded `ERROR Invalid Usage: The query parameter 'username' is not supported in GDPR strict mode.` answer. Looking at the source code, https://github.com/go-jira/jira/blob/master/jiracmd/assign.go#L63 even though I did specify the long hex string for the username, it still tries to do a username search https://github.com/go-j

[2020-04-30 09:06] Kerruba opened #336 "Configuration file not read if ext is `yaml` instead of `yml`"
I created a `config.yaml` file in my project folder, but go-jira was not going to look for it and therefore my updates where not picked up.

From README is reported to use `config.yml` file, but is not declared that the extension will make a difference from the configuration from beign picked up or not

Changing the config file to `config.yml` make things work properly

[2020-05-04 16:15] mikecook commented on #328
use `-vvv` to debug the connection

I found that I needed to escape the newline when echoing password
`echo -n "$PASS" | jira foo`

[2020-05-04 16:19] mikecook commented on #305
`GO111MODULE=on go get github.com/go-jira/jira/cmd/jira` works.
It's using go modules, but you need that env setting to enable them.

[2020-05-04 21:59] izissise commented on #291
After trying with both suggested fix or reverting the mentionned commit, I'm still left with the same issue:
[code]

[2020-05-05 07:24] jamesog commented on #291
@izissise that's a very old version of Go and no longer supported. I recommend you upgrade to the latest 1.14 release.

Go modules are only since 1.11.

[2020-05-05 08:37] izissise commented on #291
I guess I'll have to upgrade to ubuntu 20.04 sooner than later then,
Thanks for the reply :)

[2020-05-06 08:17] amoblin opened #337 "how to delete an issue? I search the document but find nothing..."
Use jira create to create an issue, but how to delete an issue?

![image](https://user-images.githubusercontent.com/89580/81152886-f70e0d80-8fb4-11ea-8e95-9075ac904a84.png)

this is the jira api, is there any cli interface to use this?

Thank you.

[2020-05-06 15:54] coryb commented on #337
It is not exposed directly because it is not a very common operation.  There is a "catch all" command that lets you interact with the api called `req`, I think it would be used like:
[code]

[2020-05-06 22:09] zenspider commented on #333
Oddly... I just had this happen mid-create. I'd created a couple test tix. Deleted them. And then couldn't create the ones I actually wanted to create because of this error. Running with `-vvv` shows that it is getting caught up on that `search?username` query (oddly enough, for myself! the privacy violations!).

oooh... I was changed to administrator! that might be it!

[2020-05-06 22:11] zenspider opened #338 "How to create a ticket that's on our project board?"
I want to create a bunch of tix directly into our "To Do" column of our board. We have "backlog" set to on in the project settings and as such, all tix (despite state="to do") wind up in backlog. I even manually moved one into our project and diffed the json output of `json view` and got roughly nothing (except cryptic `customfield_12500`). Trying to set that custom field yielded nothing.

[2020-05-06 22:13] zenspider commented on #335
Probable dupe of #333.

[2020-05-07 00:11] zenspider commented on #337
`-M` (uppercase)

[2020-05-07 09:14] matt-canty-dragon opened #339 "Browse does not respect project in config"
## Setup
In `.jira.d/config.yml`
[code]

## What Happens
[code]
Address in browser is https://mydomain.atlassian.net/browse/391

## What I Expect
Address in browser to be https://mydomain.atlassian.net/browse/ABC-391

## Thoughts
Looks like [browse.go](https://github.com/go-jira/jira/blob/b590005aac15da9060135c178504df1cde106c0a/jiracmd/browse.go) is missing [assignment of default value](https://g

[2020-05-07 22:27] zenspider commented on #333
Go is not my strongpoint... but I got into the code. Ironically, the GDPR violation is happening inside of `fixGDPRUserFields`:

[code]

[2020-05-07 22:56] zenspider commented on #333
According to the JIRA REST docs, you don't need to have an assign field to create a ticket, so this should be entirely avoidable by just not doing it, no?

[2020-05-12 12:20] suntehnik opened #342 "Tests fail on Travis CI"
Some tests are failing with error message

`ERROR Invalid Usage: The query parameter 'username' is not supported in GDPR strict mode.`

[2020-05-14 06:57] pylipp commented on #299
I had the same issue when deleting an issue link via [this resource](https://docs.atlassian.com/DAC/rest/jira/6.1.html#d2e1926):

[code]

It shows the program usage, and the message

[code]

However, the command is executed (i.e. the issue link is deleted).
The JIRA Rest docs state that there is no available response representation for status 200.

[2020-05-14 16:25] endorama commented on #333
Hello, I had this issue today while creating a new issue. My case was related to the `reporter` field (which is mandatory it seems), that in the YAML template is:

[code]

I've been able to fix it by replacing `name` with `id`, taking my account number from the profile page URL (as in https://community.atlassian.com/t5/Jira-questions/where-can-i-find-my-Account-ID/qaq-p/976527).

It's really painf

[2020-05-18 14:18] matt-canty-dragon commented on #338
I have similar issue in that all tickets are created on the backlog. But all those who are not developers have been looking at the board and wondering what I have been up to.

I can't seem to find a way of moving an issue onto the board using go-jira, if there was/is then I can add it to my `work-on` alias :-)

[2020-05-19 20:55] bradym commented on #333
Just figured out a workaround by editing templates.

Looking at the template used by the create command you'll see:

[code]

Replace `name` with `id` so it becomes:

[code]

Now in your config.yml set the override:

[code]

And you should be set! There may be other templates that need to be modified as well, I'll take a look and take a crack at a PR.

[2020-05-20 10:42] matt-canty-dragon opened #344 "Flow broken due to username/GDPR issue"
I cannot use go-jira at the moment. My flow is to create issues with `jira create` then use `jira take` and `jira in-progress`.

However as I have been getting this error for a few weeks now I have slowly stopped using it.

[code]

https://github.com/go-jira/jira/issues/333#issuecomment-631077242 this issue only goes so far as fixing the create aspect. But once a ticket is created it also cannot b

[2020-05-25 07:24] altre opened #345 "Maximum number of login retries"
When typing in the wrong password, go-jira retries immediately and indefinetely with the same password.
https://github.com/go-jira/jira/blob/af7a8f45e4b6cafe520dfa611801e14311314dc2/jiracmd/login.go#L63
This can quickly reach a limit for example in the maximum number of allowed wrong password entries.
A simple fix would be to simply remove the retry or add an option for maximum number of retries.

[2020-05-25 17:00] belambic commented on #344
I'm having the same issue, `jira take` just doesn't work any more.

[2020-05-30 14:42] erik-niehaus commented on #344
Same. Jira create is patch-able with #333, but `jira take` is not functional.

[2020-06-02 04:28] pcockwell opened #346 "Can I Manage Multiple Accounts With go-jira?"
I've recently started working with an account for a private hosted JIRA, and an account using the public Atlassian. Is it possible for me to somehow have multiple accounts (one using session for the private Jira, and the other using an API Token for the public Atlassian)? I would be fine with having to use some kind of flag to indicate which account it should search with, but I'd like to be able t

[2020-06-02 09:37] wari commented on #314
The latest release, as well as the one I compiled myself, does not seem to work for me:
[code]

[2020-06-02 11:16] oschrenk commented on #334
Same issue. Cannot build from source. If you are on macOS, `brew install go-jira` serves a working binary.

[2020-06-03 18:22] aberezin commented on #111
I see @agzam made progress in https://github.com/go-jira/jira/issues/241
I will look for time to work on either that hack or something better.

[2020-06-04 04:02] Rahulsharma0810 commented on #268
@agzam Can you nest this table format, will be really helpfull

[2020-06-04 04:13] agzam commented on #268
I'm not sure what you mean about nesting. In any case I'm sorry, I'm not using JIRA at my new gig, could say something that I won't be able to confirm.

[2020-06-04 04:13] #268 closed

[2020-06-04 06:04] Rahulsharma0810 commented on #268
I mean implement this in table template, instead of list template

[2020-06-05 19:12] jaymzh opened #347 "allow full paths for --template"
It's often convenient to use go-jira from scripts to generate tickets. The easiest way to do that is:

[code]

That stopped working at some point and now it looks for that in its' templates dir which is frustrating. It would be great if full paths were honored.

Relatedly, I have a script that literlaly just takes --summary, --description, --assignee etc and then makes the YAML so that users don't

[2020-06-06 17:52] williamh commented on #328
The behavior I'm seeing now is that I can log in, but once the cookie in ~/.jira.d/cookies.js expires I have to remove that file before I can log in again.

[2020-06-11 11:07] peteraba opened #348 "IssueLinkType is missing the type value"
This is the relevant part of a `jira view` call:

[code]

And this is the relevant part of [IssueLinkType](https://github.com/go-jira/jira/blob/master/jiradata/IssueLinkType.go#L36)
[code]

Seems to me, IssueLinkType needs another field called `Type`, although it is somewhat confusing given that this is a generated file....

[2020-06-11 11:36] peteraba commented on #348
Just to clarify, this is not a blocker for me, I just found this by trying to parse an interface as an `IssueLinkType`, but it was a `map[string]interface{}` anyway. Feel free to close this if it's irrelevant.

[2020-06-12 06:43] aszenz opened #350 "See jira activity view"
Big thanks for making this library, makes using jira so much faster than their slow ui.
Just wondering if there is any way to see jira activities, would be a nice to have

[2020-06-12 06:56] aszenz opened #351 "Support using pager for viewing long issues"
For viewing issues with many comments, there is often a need to use a pager like less `jira view JT-123 | less`, just wondering if there's a way the cli can use a pager automatically whenever the output is longer than the terminal height or even allow using a pager always in the config.
This option will also be useful for `jira ls` so it could be made for all commands I think

[2020-06-13 04:47] snejus opened #352 "Go get command fails with 'cannot use app' error"
I've tried installing the application, however, the provided `go get github.com/go-jira/jira/cmd/jira` command failed with the following error

[code]

[2020-06-14 23:03] zenspider commented on #338
Sadly... this project seems to have stalled.

[2020-06-17 12:05] mostfunkyduck commented on #345
+1, this behavior caused me to get an account lockout

[2020-06-17 14:57] matt-canty-dragon commented on #344
I gave up a little in order to get the functionality back. I use a custom command `work-on` and have used `curl` to hack the assignment to me.

The use of Regex just keeps this command in line with all the other commands by prefixing the project ID if needed.

[code]

I found the following helpful:

[code]

[2020-06-17 18:07] csheaff commented on #352
This worked for me on Ubuntu 20.04: https://github.com/go-jira/jira/issues/291#issuecomment-548431674

[2020-06-18 01:08] snejus commented on #352
Thanks for this @csheaff!

[2020-06-18 08:55] kottle opened #353 "Extend template functions"
Add to template extra functions to manipulate int:
My request is to add functions:
add: a+b
div: a/b
mult: a*b
pctVal: (size-val)*100/size

[2020-06-26 10:50] svenXY commented on #338
For me, to add it to a Scrum board, the following works:
[code]

and for a Kanban board, use this:

  - name: quick-create
    aliases:
        - qc
    help: Create a teamtask ticket, assign it to yourself and start it
    args:
      - name: SUMMARY
        short: sum
        default: quick teamtask
        repeat: true
    script: |
      # only if not using keyring
      # {{jira}} login --qui

[2020-07-02 00:12] ryan-gerstenkorn-sp commented on #344
@matt-canty-dragon

Thanks for this. Put this version together that doesn't hardcode anything and relies on endpoint being set in the config.

[code]

[2020-07-07 16:14] tmerse commented on #324
Would be nice to get a list of all Sprints (mostly upcomming) aswell.

[2020-07-10 21:48] metov opened #356 "Listing modules"
Is it possible to list all the available modules for a project through go-jira?

[2020-07-14 11:58] denysvitali commented on #221
Unfortunately, this bug still seems to be in `1.0.23`

[2020-07-16 13:06] matt-canty-dragon commented on #339
I created a custom command to get around this issue.

[code]

[2020-07-17 21:10] nyarly commented on #314
I have the same issue; I'm compiling from `v1.0.23`

[2020-07-17 21:43] nyarly commented on #344
This should have been fixed by #317 but AFAICT it's still issuing a query with username. Maybe Jira locked their API more since February? @coryb can you comment?

[2020-07-20 16:26] metov commented on #356
Seems like the following works in the template: `{{ range .meta.fields.components.allowedValues }}{{.name}}, {{end}}{{ range split "," (or .overrides.components "")}}{{ . }}{{end}}{{end}}`

[2020-07-20 16:26] #356 closed

[2020-07-21 10:49] avanier commented on #344
For reference, I believe we're talking about the query [here](https://github.com/go-jira/jira/blob/master/jiracmd/assign.go#L63-L65), right?

[2020-07-27 15:22] r35krag0th commented on #352
Can confirm the fix on Ubuntu 18.04 with go 1.12.10 (via goenv).

[2020-08-08 07:52] ltpquang opened #357 "Cannot install with go get"
Doing `go get github.com/go-jira/jira/cmd/jira` gives me following error:

[code]

[2020-08-11 05:22] jackchuka commented on #357
Seems to be the same issue as https://github.com/go-jira/jira/issues/291#issuecomment-554742540
try getting the package with:
[code]

[2020-08-11 21:34] metov opened #358 "Choice of browser for `jira browse`"
When handling the `jira browse` command, how does go-jira decide which browser to use? Is it always the default system browser? Is it possible to add the ability to specify a browser?

I use a Firefox as my main browser and I set it as default, because I want links in various applications to open in Firefox. However Jira's bloated website is very slow on Firefox and sometimes unusable, so I use Ch

[2020-08-12 18:51] Aerex commented on #358
Could you make a custom command to set the  `BROWSER` environment variable before running `jira browse`?

`BROWSER=/path/to/browse jira browse`

 Since you are just setting the variable you won't have to worry about overriding your default browser. Although, if you are on Windows this method will not work.

[2020-08-12 22:43] nyarly commented on #344
I think that's so, yes.

[2020-08-13 13:41] alexrjs opened #359 "slice is not slicing strings in templates"
I try to get the date (2020-03-09) from "2020-03-09T08:09:40.000+0000" with this template line:

`...
[Ticket:{{- .key -}}:{{ .fields.resolution.name }}] starts {{ slice ".fields.created" 0 10 }} and ends {{ slice .fields.resolutiondate 0 10 }}
...`

--> Invalid Usage: template: gojira:7:62: executing "gojira" at <slice .fields.created 0 10>: error calling slice: list should be type of slice or ar

[2020-08-14 15:49] alexrjs commented on #359
Stackoverflow found out the problem... Wrong go version... I used 1.10, but you need at least 1.13 to make slice work...

[2020-08-14 15:49] #359 closed

[2020-08-17 09:39] nikclayton-dfinity commented on #344
Confirmed not fixed in 1.0.23.

[2020-08-18 19:16] nikclayton-dfinity commented on #344
If I had to guess, the problem with `jira take` is around https://github.com/go-jira/jira/blob/master/jiracmd/take.go#L21-L23 where it uses the `user` value instead of the `accountId` value if the assignee is blank.

https://github.com/go-jira/jira/blob/master/jiracmd/assign.go#L61-L76 has code to do the right thing, so I think the fix is to just delete lines 21-23 from take.go.

[2020-08-18 19:43] nikclayton-dfinity commented on #344
The error is because this code in `assign.go`:

[code]

returns an error -- you can't call `jira.UserSearch` with an email address in GDPR strict mode.

[2020-08-18 19:47] nikclayton-dfinity commented on #344
In https://github.com/go-jira/jira/pull/317#issuecomment-591062732 @coryb wrote:

I think you're going to need to do that -- in GDPR strict mode you can't search by e-mail address, the user is going to have to provide an account ID in their config.

Or for commands where the current user is the default you could use the Myself API call https://developer.atlassian.com/cloud/jira/platform/deprecatio

[2020-08-19 09:19] matt-canty-dragon commented on #344
👍  Agreed, this makes the most sense.

[2020-08-19 13:26] kevincox opened #360 "Include built-in commands in readme."
I was evaluating if I would like to use this project but found the readme incredibly confusing. It contains lots of docs about the advanced features of the projects such as configuration, dynamic configuration and custom commands but as far as I could tell (after skimming over it a handful of times) doesn't document any of the builtin commands (other than a couple of uses by the custom commands ex

[2020-08-25 18:08] ldelossa opened #361 "Supporting linking to pull request"
As part of our jira workflow we have a transition step which requires a link to a pull request.

When I use the transition command in jira I'm presented a buffer for submission:

[code]

am I able to provide a pull request link in this yaml?

[2020-08-26 00:27] zenspider commented on #338
That feels like a workaround at best.

This project feels like is beyond stalled out at this point. I'm leaving this open, but unsubscribing from it.

[2020-08-27 07:13] sublimino commented on #238
The `create` template must contain the field (you may have to generate these first if you're currently using the defaults):

[code]

Then `jira create` works as expected:

[code]

For other commands, update their templates to add `duedate` too.

[2020-08-27 19:36] ldelossa commented on #248
@coryb I'd be happy to deal with these failing test cases.

[2020-08-27 19:46] TechIsCool commented on #212
Just wanted to share my workaround
[code]

[2020-08-27 19:54] coryb commented on #248
Hey @ldelossa I just invited you to the team.  Thanks for the offer, feel free to adjust the tests in any way that makes sense to you, they are pretty crude currently.  We do have an integration server provided to us from Atlassian, if you need further access to that let me know.

For anyone else reading this, we would love any and all extra help on the project.  I have no time for it lately as is

[2020-08-28 22:05] ldelossa commented on #333
@bradym I just merged this: https://github.com/go-jira/jira/pull/364

which removes the username issues. can you please see if issue is still preset?
I did not take into account any templates, so it maybe necessary to still move the template stuff around make it all correct. I have not used templates yet

[2020-08-28 22:13] ldelossa commented on #335
fixed in #364

[2020-08-28 22:13] #335 closed

[2020-08-28 22:13] ldelossa commented on #342
fixed in #364

[2020-08-28 22:13] #342 closed

[2020-08-28 22:15] ldelossa commented on #360
@kevincox would you like to re-work into the shape you are thinking and submit a pr for this?
we can review and have a conversation that start point, but without a starting point, this remains a subjective issue.

[2020-08-28 23:35] #73 closed

[2020-08-30 23:04] kevincox commented on #360
I ended up not using it because I don't think it solves my use case. But one example would be showing how to create a new issue.

[2020-09-02 17:00] #361 closed

[2020-09-02 17:06] ldelossa opened #368 "Parallelizing tests"
@coryb

I'm started to realize, we are going to need to make the tests in "_t" parallel as they can run against the same Jira Cloud instance while many ppl are opening up PRs concurrently.

I'm beginning to rework the tests to only care about the specific issues they create:

[code]

am I using osht correctly here? If the grep fails the match for $issue, the test will fail correct?

[2020-09-03 13:58] prashankMT commented on #314
same issue with **jira assign** in version **1.0.23**

[2020-09-03 15:48] nikclayton-dfinity commented on #344
Are there details on how to update the schemas? I'm assuming there's some process involving `schemas/fetch-schemas.go`, but it's not documented (as far as I can tell)

[2020-09-04 06:37] prashankMT commented on #314
@ldelossa Thanks for the update

[2020-09-04 08:36] wkoszek opened #369 "ERROR reporter: Reporter is required."
I just fetched the latest revision a1450e879f62be6faaa6cc518521859837ea084f and built it with "make"

I have:

[code]

API overall works, e.g.: `jira ls` shows me the tickets fine. I'm attempting to create a ticket in a "backend" project with "BE":

[code]

I get dropped to Vim and make a dummy ticket:

[code]

Error I get:

[code]

Regardless of what I try to put in "reporter" field, I get this e

[2020-09-04 10:53] prashankMT commented on #314
@ldelossa any timeline on the release ??

[2020-09-04 18:21] #291 closed

[2020-09-04 18:32] ldelossa commented on #274
hey @coryb @mikepea

I can't do the final step of pushing to master:
[code]

[2020-09-04 18:47] coryb commented on #274
Odd, I have removed the code review restriction, I guess I never noticed since it ignores admins.  You should be able to push the changes now.

[2020-09-04 20:02] ldelossa commented on #344
I just released https://github.com/go-jira/jira/releases/tag/v1.0.24

This should fix these issues. If it does not "@" me and I will re-open this ticket.

[2020-09-04 20:02] #344 closed

[2020-09-04 20:03] ldelossa commented on #333
I just released https://github.com/go-jira/jira/releases/tag/v1.0.24

This should fix these issues. If it does not "@" me and I will re-open this ticket.

[2020-09-04 20:39] edubxb commented on #250
With the latest version the GNOME Keyring support is working again.

[2020-09-04 21:37] bradym commented on #333
@ldelossa - Just tried to run `jira create` without any custom templates, and I got the same error:

[code]

[2020-09-04 21:49] ldelossa commented on #333
@bradym are you sure you are using:

Are you sure you are running the latest binary from here: https://github.com/go-jira/jira/releases/tag/v1.0.24 ?

I am not facing this issue.

[2020-09-04 22:10] bradym commented on #333
@ldelossa - you're right, I was not running latest due to a $PATH issue.

However, now I'm getting a different error:

[code]

I'm not using any custom templates (I've renamed my $HOME/.jira.d/templates folder to make sure) and here's the yaml I tried to use:

[code]

[2020-09-04 22:22] ldelossa commented on #333
okay that issues dups: https://github.com/go-jira/jira/issues/369

closing this and lets track that problem in 369

[2020-09-04 22:22] #333 closed

[2020-09-04 23:54] ldelossa commented on #369
@wkoszek lets try some low hanging fruit, can you alter your config:

[code]

login is now the preferred method or accessing the API. This is probably no the issue but worth giving a try.

Maybe a little tough for me to troubleshoot since when I do "jira create" against my work's server my template includes no "reporter"

[2020-09-05 00:07] coryb commented on #369
Probably also worth validating what the jira data schema looks like for `reporter`.  It needs to be a `user` field for the cli to automatically fix the GDPR formatting.  For example this is what is looks like for my projects:
[code]

[2020-09-05 00:18] wkoszek commented on #369
[code]

@ldelossa Just do double-check: you literally meant `admin`, or did you mean Admin's user name? If so, user `adam` is an admin.

[2020-09-05 00:29] wkoszek commented on #369
@ldelossa I tried this:

[code]

And it didn't help.

[2020-09-05 00:29] coryb commented on #369
Hmm.  @ldelossa looking at your previous PR again, I think this change is related to the issue:
https://github.com/go-jira/jira/pull/364/files#diff-a019457c64b68f78856c5e2b3a2872ceL183

There is no code that will take templates with the `name` property and try to look it up anymore.  So I think when you removed the `username` lookup that no longer works it will make any template with just `name` i

[2020-09-05 00:32] wkoszek commented on #369
I discovered something interesting:

[code]

And then:

[code]

And if I remove "reporter", it works.

[2020-09-05 00:42] ldelossa commented on #369
@coryb unfortunately I think this:

will have to be the case. Or else we are back in a place where the api barks at us about "username parameter" deprecation.

And that's what I'm seeing @wkoszek if you remove the reporter field it creates successfully correct?

[2020-09-05 00:49] #368 closed

[2020-09-05 01:25] wkoszek commented on #369
Yup. See my report 1 message above ^^

[2020-09-05 01:29] wkoszek commented on #369
BTW, is the problem on not being able to apply "Assignee" during the ticket creation the same issue, or a separate issue.

[2020-09-05 02:15] ldelossa commented on #369
@wkoszek you cannot apply assignee either?

[2020-09-05 02:18] wkoszek commented on #369
@ldelossa It doesn't seem like it. The behavior is different however:

- for `reporter`, I need to remove it to create a ticket successfully
- for `assignee`, it appears that I can put whatever, and it's being ignored and the ticket is created successfully too

[2020-09-05 02:31] ldelossa commented on #248
@coryb can you provide me with access to the cloud jira? Id like to rework the tests.

[2020-09-06 20:30] ldelossa commented on #369
@wkoszek open a new ticket for the assignee issue

[2020-09-07 18:43] voiski commented on #299
The problem here is how go-jira handles the empty output. I had similar issues in the [sprint/moveIssuesToSprint][1] where it returns HTTP status 204 - empty response. The go-jira tries to handle the "" in the json parsers giving the EOF. The command runs successfully, but the client fails to handle its response.

[1]: https://docs.atlassian.com/jira-software/REST/7.0.4/#agile/1.0/sprint-moveIssue

[2020-09-08 23:15] choman opened #373 "1.0.24 version off?"
Downloaded the latest version 1.0.24 from the front page, however running it with the version command
produces 1.0.23.  (i.e. jira version)

sha256sum on file is: ceb2b4949c5a230296175b6d219cfdcb6cdafc4f0bebbdd6078a41705bf99fb6

[2020-09-10 01:39] Amir-Ahmad commented on #345
I ended up with 50000 retries when not paying attention, got in trouble -_-

[2020-09-11 09:25] kawaiipantsu commented on #373
Same, release tag 1.0.24 - File: jira-linux-amd64 binary is saying version 1.0.23.
[code]

[2020-09-11 13:08] ldelossa commented on #373
Okay, I must have done the release wrong and missed setting some ver variable. My hunch tho is that as long as you grabbed the binary from the 1.0.24 release, you are in-fact working with the 1.0.24 released binary.

I will attempt a fix.

[2020-09-14 17:44] xdhmoore opened #376 "Edit/view "Time Remaining" for issues"
Is it possible to editor or at least view the Time Remaining field on a Jira issue? `jira view` doesn't seem to show it and `jira worklog add` doesn't give any options that I can see to edit it.

[2020-09-14 20:36] voiski commented on #376
Did you try `jira fields | jq '.[] | select(.name == "$yourfield")'`, in example:
[code]

[2020-09-14 22:06] keien commented on #248
Would be great to have a "Contributing" section in the README or something similar like other Github projects. I would love to help out as well but I'm not even sure where to get started, aside from nit-picking specific issues that I'm personally dealing with.

In my opinion this is currently the best Jira CLI out there - for the few months where this was struggling with the GDPR username issue, I

[2020-09-15 00:56] ldelossa commented on #248
@keien can you help confirm or deny this: https://github.com/go-jira/jira/issues/369

Right now its not a bug for me. So a little hard to test.

[2020-09-15 01:13] xdhmoore commented on #376
That gives me global metadata about the field, but I don't see a way to get information about the value of the field for a particular issue. Maybe I'm missing something obvious?

[2020-09-15 01:33] keien commented on #369
@ldelossa can verify with version 1.0.26 that this is still happening

[2020-09-15 01:47] keien commented on #369
related: if you edit the reporter field using `edit`, no matter what you give it it ends up setting it to anonymous

[2020-09-15 02:18] ldelossa commented on #369
@keien that would be a good one to start checking out. Want to see if you can figure out why? Place anything you find in that ticket.

[2020-09-15 04:09] keien commented on #369
k so @wkoszek first off the easy fix: in your `create` and `edit` templates in `~/.jira.d/templates` (run `jira export-templates` if you don't have these), replace `name` under `assignee` and `reporter` with `emailAddress`, and replace `.overrides.user` with `""`, like so:
[code]

explanation: Like they noted above, the `name` field isn't used by the code to do user searches anymore. `displayName`

[2020-09-15 04:56] wkoszek commented on #369
@keien I'm OK trying that, but I guess random question: looking at GitHub CI, I can't see any tests run against a real JIRA instance. Wouldn't it be beneficial to just test against a real JIRA server and come up with reasonable defaults?

[2020-09-15 10:46] ldelossa commented on #369
Nice. @keien that makes sense since to get around "username" deprecation, we now use the "query" field in the search. The query definitely matches any display names with the same prefix. I think youre correct on wanting to use email address.

@wkoszek the tests correctly work against a cloud jira server. Are you suggesting having the tests work against a self hosted jira as well?

[2020-09-15 19:56] wkoszek commented on #369
@ldelossa What I'm missing is where does the stuff from `_t` gets invoked from. I quickly glanced into `.github/` directory and it's not there. I see however that Travis is running some real tests, but I can't see `.travis-ci.yml` in the repo.

[2020-09-15 21:54] ldelossa commented on #369
@wkoszek ive been phasing the php tests out for go native ones. The tests in _t are not parallel safe and flake. Eventually _t should go away.

Here are tests ive translated. These run on CICD https://github.com/go-jira/jira/tree/master/test

[2020-09-15 22:49] wkoszek opened #378 "Can't set "Assignee" during ticket creation"
I'm solving https://github.com/go-jira/jira/issues/369 issue by removing the "reporter" field. Creating issues works that way, however I can't set the "assignee" field. I tried "wkoszek", "wkoszek@mycompany.ai", "W. Adam Koszek".

The way to reproduce:

[code]

Template I'm trying out:

[code]

Looks like the ticket is created OK, but the assignee isn't set.

[2020-09-16 17:21] xdhmoore commented on #376
It looks like the Go Worklog type defined in https://github.com/go-jira/jira/blob/master/jiradata/Worklog.go doesn't define the remaining estimate field.

[2020-09-17 14:38] ryran commented on #106
I'm trying to do the exact same thing -- add the labels field to a copy of the table template -- and I understand that I can see labels with `jira view -t debug` (and not `jira ls -t debug`), but I don't understand your solution @rbuckland ...

Something about the ls command doesn't get details about labels, I guess? To my modified table template, I've added:
[code]

..but of course that unsurpris

[2020-09-21 08:42] twaapo opened #379 "Cant override 'int'"
input:
--override="storypoints: 30"

Jira replies: Operation value must be a number

[code]
This way the JSON lib will add key: "4", or whatever, although the JSON must be key: 4, w/o quotes. How to int?

[2020-09-21 10:08] twaapo commented on #378
check endpoint/rest/api/2/issue/issue-id for existing issue, you will see: "assignee":{} object, not a string.

[2020-09-21 13:15] sleepy-mouse opened #380 "All 3 options of password-source are not supported under Windows 10"
All 3 options of `password-source` are not supported under __Windows 10__.
Any chance they could be supported on Windows, so I don't have to input API token for every call?

Thanks.

[2020-09-24 16:32] xdhmoore commented on #376
I have discovered that you can get the time remaining via the following:
[code]
Haven't figured out how to write to it yet...

[2020-09-24 21:01] salehrastani commented on #329
Try your email

[2020-09-28 20:34] jaymzh commented on #333
I'm still getting this on 1.0.26.

[code]

[2020-09-28 20:35] jaymzh commented on #333
Oh, sorry misread that last comment, this is being tracked in the other ticket. Ignore my comment. Apologies.

[2020-09-28 20:41] jaymzh commented on #369
I can confirm that https://github.com/go-jira/jira/issues/369#issuecomment-692450946 works for me on 1.0.26. It does not pre-fill in reporter in the 'create' process, but it defaults to me when it's blank, so that's fine. I can set the assignee and report. That's a huge help. Thanks!

[2020-09-29 08:15] matt-canty-dragon commented on #329
After upgrading `go-jira` from `1.0.23` to `1.0.26` I can watch & unwatch easily with
[code]

[2020-09-29 08:15] #329 closed

[2020-09-30 08:43] stchris opened #381 "jira session panics"
Hello,

I'm trying out this tool and following the [quickstart instructions](https://github.com/go-jira/jira#quickstart-api-token-and-keychain). Basically my `~/.jira.d/config.yml` looks like this:

[code]

Now when I run `jira session`:

[code]

[code]

Thanks for looking into this!

[2020-10-01 15:58] deepcube opened #383 "jira block arguments reversed"
I have a fix ready, creating an issue for more documentation.

The BLOCKER and ISSUE arguments for the block command were incorrect.
With hypothetical ticket names BLOCKER and ISSUE, calling

	jira block BLOCKER ISSUE

resulted in

	ISSUE blocks BLOCKER
	BLOCKER is blocked by ISSUE

which is the reverse of the documentation which claims it should be

	BLOCKER blocks ISSUE
	ISSUE is blocked by BLOC

[2020-10-01 17:48] #383 closed

[2020-10-01 21:10] adsbooker opened #386 "Sample config file is confusing"
Hi!

I tried to set up go jira and experienced great confusion...I created `~/.jira.d/config.yml` with a valid config file, then ran `./jira view XXX`, but it never seemed to find my config file. Instead, it kept mysteriously asking for the api token from `atlassian@corybennett.org`.

Eventually, it turns out that because I was running it from inside the cloned `jira` directory, it was finding the

[2020-10-01 22:56] ldelossa commented on #386
Want to issue a commit for option 1? Seems the most straight forward.

On Thu, Oct 1, 2020 at 5:10 PM Heather Booker <notifications@github.com>
wrote:

[2020-10-01 23:14] ldelossa commented on #386
I agree with you, confused me at first as well.

[2020-10-01 23:32] coryb commented on #386
Hah, I don't have any problems, it works for me 😄   I don't think that file should be there, I probably accidentally added it while testing something.  I think the only one that might be used  is `_t/.jira.d` for testing.  We should probably just purge it.  Adding a sample file is a good idea though (but I don't think the file in the current state represents a good sample).

[2020-10-08 10:28] glukki commented on #189
In case you're open to big changes... 😬

Seems that [kingpin](https://github.com/alecthomas/kingpin) author switched to using [kong](https://github.com/alecthomas/kong). And it has a [kongplete](https://github.com/WillAbides/kongplete) plugin to generate completions for bash/zsh/fish by [complete](https://github.com/posener/complete/tree/master/)

[2020-10-15 19:09] sdelmas opened #389 "Would it be possible to add a command to list releases for a project?"
Not much more to add here :-). Basically:

`jira releases -p TEST`

| v1.1.2 | unreleased |
| v1.1.1 | released |
| v1.1.0 | archived |

[2020-10-16 21:18] sdelmas opened #390 "Multiple default options with default value only apply the last default value to all options."
I have two commands, that both use the same option (I assume the same is true for args :-). Both have different default values, however the first command still uses the default value from the second. Basically it seems like the definition is applied globally and overwrite prior ones that have the same name.

[2020-10-16 21:27] sdelmas opened #391 "Unable to display custom fields"
So I am trying to add a custom column with (also tried without .value):

  {{- cell .fields.customfield_10064.value -}}

However, I only get nil in the column. Is this expected to work?

[2020-10-20 23:21] sdelmas commented on #391
Silly me... I am quite sure that was just me not passing in --queryfields.

[2020-10-20 23:21] #391 closed

[2020-10-21 06:53] svenXY opened #392 "get assignee of subtasks in list command"
Hi,
I'm doing
[code]
and I am properly getting the data for the subtasks, but there the assignee-field (something along the lines of subtask.assignee.name) is missing.

Any chance to also add this to the query?

Thanks for the tool btw!

Sven

[2020-10-26 19:21] jason-riddle opened #393 "How to list custom commands and their respective help message?"
It would be nice to run a command say `list_custom_commands` and given

`config.yml`

[code]

it might output

[code]

Is this currently possible?

[2020-11-05 00:09] darthwalsh commented on #360
@ldelossa Do you have any web links for the documentation? If using the cli i.e. `jira --help list` is the best place to get docs, maybe just adding that in the README before the advanced scripting would help.

[2020-11-05 02:02] ldelossa commented on #360
@darthwalsh I think that's smart. I usually provide the cli --help in read me on other projects. think that's very reasonable.

[2020-11-06 20:10] darthwalsh commented on #324
This should be possible today, but you might need wrapping code around jira if templates aren't powerful enough.

When I run `jira view $myIssue -t debug`, I see one of the `customfield_` values has the serialized sprint object, like

    "com.atlassian.greenhopper.service.sprint.Sprint@123a0[id=123,rapidViewId=456,state=ACTIVE,name=MyTeam 19: Nov 2 - Nov 16,startDate=2020-11-02T20:11:31.166Z,endD

[2020-11-11 05:50] wkoszek opened #394 "Can't create Sprint: ERROR customfield_10120: Field 'customfield_10120' cannot be set. It is not on the appropriate screen, or unknown."
This is a `jira` as of SHA1 revision 2c7a9b283025202428db629b1a9ecdc63a9b704f

I do:

[code]

I get as a template:

[code]

I try to save. I get:

[code]

I remove it, and I get:

[code]

So I go and edit things:

[code]

Then I get:

[code]

And the last version I edit, I simply add the missing field:

[code]

And this works. So looks like the 10120 field should be 10011 instead.

[2020-11-17 04:17] seanblong commented on #345
Ran into same behavior recently so created PR: https://github.com/go-jira/jira/pull/395

[2020-11-20 12:52] dkirrane opened #396 "jira browse fails on WSL2"
jira browse fails with `ERROR Invalid Usage: exec: "xdg-open": executable file not found in $PATH`

Is there any way to set the Browser path. For instance, `export BROWSER="wslview"` works for bash on WSL2 Ubuntu 20:04

[2020-11-20 13:55] dkirrane opened #397 "ERROR priority: Priority name 'unassigned' is not valid"
I'm hitting the following when using `jira transition-issues` on a JIRA Task

[code]

Similar issue for `jira create`
[code]

I'm using Atlassian Jira v7.13.9

[2020-11-20 15:50] dkirrane commented on #397
Found this was an issue with the create and transition templates using an `emailAddress` instead of `name` field

[2020-11-20 15:50] #397 closed

[2020-11-30 04:03] ryran commented on #351
Agreed. Would be really nice to have a global option for this (like `--pager`).

[2020-11-30 14:46] jmtd commented on #242
I just hit this by trial and error, specifically auth failure if I had a multi-line entry in my pass DB, and was surprised (and disappointed).

I didn't hit this, and I'm *very* glad I didn't! With version 1.0.23. But I killed the process after the first auth fail, before it had got me rate-limited by the JIRA server.

[2020-12-03 10:44] dkirrane commented on #396
This worked
[code]

[2020-12-03 10:44] #396 closed

[2020-12-07 17:30] rhatfield-bushel commented on #231
So first off, It is possible.

I have my setup working, but it's a bit scripty. I just have a `custom-command` that pulls the cookies from chrome and sets the `~/.jira.d/cookies.js` file:
[code]

And the cookiemonster.go file is taken from [here](https://github.com/go-jira/jira/issues/81#issuecomment-471233421), and only outputs the env variables for `JSESSIONID` and `ATLASSIAN_XSRF_TOKEN`:
[code]

[2020-12-09 16:54] romankor opened #399 "How do i move a certain issue to a board ?"
I dont see any official API's for moving issues to a board , how do i do that ?

[2020-12-10 19:41] DylanYoung opened #400 "Transition Template versions key is broken"
### Error:

`ERROR yaml: line 7: mapping values are not allowed in this context`

### Fix:

[code]

Should be

[code]

(same as `fixVersions`)

[2020-12-11 00:08] nyarly opened #402 "create hangs in a subshell"
I'd like to do something like `url=$(jira create -i Story)`, but it seems like `jira` hangs when trying to open an editor in the subshell.

[2020-12-16 06:13] gregswift opened #403 "Epic commands not aligning with issue type field"
[code]
I'm trying to create an epic and the `jira epic create` command fails.  I would expect `jira epic create --project=NAME` to be the correct command here, however that fails.

[code]

The 2nd command seems redundant, but just shows how its broken.

If i do this instead it does work:

[code]
$ jira create --project=NAME --issuetype=Epic
...takes me to editor...
[code]
$ jira issuetypes --proje

[2020-12-16 06:26] gregswift commented on #247
fwiw this works:

[code]

the main changes i made were removing the trailing `%` and dropping the custom field.

[2020-12-16 20:18] romankor commented on #399
ping ...!

[2020-12-17 18:39] jaredsmith commented on #112
Any chance this will ever get implemented?

[2020-12-22 08:09] stonecharioteer opened #404 "Multiple filter variables"
It is not obvious how to write a config file that supports multiple inputs, such as wanting to filter all tickets that have one of multiple assignees.

I tried

[code]

This does not work, though.

[code]

How would one go about allowing this, though?

[2021-01-09 15:39] gudata opened #405 "Login via session doesn't work"
I created a config as shown in the doc

/home/guda/.jira.d/config.yml
[code]
Then when I run ```jira session```
I always get

[code]

I tried with v1.0.27 and 1.0.25

I tried also on different machine in case I have some leftovers in my ~

[2021-01-16 04:35] EricCrosson commented on #379
I am experiencing this too. Here's a bug report I opened in [the wrong go-jira](https://github.com/andygrunwald/go-jira/issues/334) :sweat_smile:

## Describe the bug

### What I did:

Try to create a ticket with a customfield value containing a number

### What I expected to happen:

the yaml of a number (e.g. value: 1) would be parsed as a number when sent as an http request

### What actually h

[2021-01-25 16:22] lgazo commented on #405
I have also tried both versions and I ended up with:

[code]

and using `session`:

[code]

[2021-01-28 06:14] colton22 commented on #339
@matt-canty-dragon - Thank you for that work around. Wish this issue would get fixed. Keep finding myself using browse only to have to close and reopen with `open`

[2021-01-29 11:29] chimurai commented on #369
After hint from https://github.com/go-jira/jira/issues/369#issuecomment-687491761 to remove "reporter"...

Using an empty reporter  `--override reporter=" "` works as well.

Example to create a subtask:
[code]

[2021-01-29 18:26] efx commented on #345
I recently experienced this as well. Thanks @seanblong for starting the fix in #395!

[2021-02-03 11:43] kerruba-milkman opened #408 "View with gjq not working as expected"
Hello,

Great tool indeed but I'm having some issue with the view query filter using GJSON.

**Command**
[code]
**Expected result**
[code]

**Actual result**
empty

I've tried al sort of combinations for the filter
- `--gjq "issue"`
- `--gjq=".issue"`

but I get no results no matter what, even with different fields (description, priority...)

The only non-empty result I get is when I use
[code]
an

[2021-02-08 13:17] kerruba-milkman commented on #408
I think I've sorted out the issue by using the `-vvv` flag and check the json returned by the call.
Would be nice add some references in the README on where to find the documentation for the Jira APIs.

[2021-02-08 13:18] #408 closed

[2021-02-22 14:35] malys commented on #134
Hi,

`jira -u $USERNAME -e https://$JIRA/  req -M POST /rest/greenhopper/1.0/xboard/issue/flag/flag.json "{\"issueKeys\":[\"KEY\"],\"flag\":true}"
`
It's working :)

[2021-02-28 03:51] slve commented on #235
There's plenty of apps that don't support XDG spec, yet they work smoothly with a tiny workaround.
[code]

[2021-03-03 06:17] anatoly-scherbakov commented on #239
I would second this issue. Perhaps it is applicable for so called classic projects. For me, this means that multiple Jira projects do not show a single issue in `jira ls` results though `jira view KEY-1234` shows the requested issue with no problems.

[code]

[2021-03-03 18:38] atsalolikhin-spokeo commented on #405
@gudata have you tried logging in with `jira login` ?

[2021-03-11 19:56] paoloantinori commented on #381
I see the same exact error on Fedora.

[2021-03-16 15:39] sjl opened #413 "Table width should expand to fit the terminal"
A lot of our Jira issue summaries are fairly long.  Currently `jira`'s table output is always 84 characters wide, even when my terminal has 200+ columns, which means the summaries get heavily linebroken and are harder to read:

[code]

It would be nice if the table would use all the available columns and avoid unnecessary word wrapping:

[code]

I looked into adding this myself.  There *is* a `ter

[2021-03-19 21:59] oschrenk opened #414 "jira done ABC-1234 > ERROR assignee: expected Object containing a 'name' property"
I'm having troubles transitioning tasks to "Done". It might be because the usernames for our own instance are mapped to actual addresses like `john.doe@acme.com` instead of "just" `john.doe`.

My workaround is to change the default template for `transition`.

[code]

[2021-03-24 12:00] cverbiest commented on #393
In my environment `jira help` shows commands, including custom

[2021-04-10 22:43] osmaniarb opened #417 "Support JIRA Service Desk API"
I would appreciate if the JIRA Service Desk API would be supported.

https://docs.atlassian.com/jira-servicedesk/REST/3.6.2/

This would allow me, to use go-jira even for the JIRA System provided by suppliers.

[2021-04-19 12:07] deshraj5375 opened #418 "How to set custom field from same template"
i am able to set custom field at time. i am doing as
jira edit -t <custometemplte> --noedit --override=string="<value-to-put>" <ticket>

how can i have single file with multiple custom field and then call specific filed
fields:
  <customefiled1> {{ .overrides.string  }}
  <customefiled2>: {{ .overrides.string }}
  ...
  ...

update only custom  field1.

[2021-04-19 12:40] deshraj5375 commented on #418
should i be using jira view --field="custom-filed" ticketnumber

however this does not result out what i intend is for.

[2021-04-19 20:40] aurelienmazurie-wk commented on #231
A little contribution to facilitate the use of the `JSESSIONID` and `atlassian.xsrf.token` values: I added a custom command to `~/.jira.d/config.yml` that takes these values as arguments, and write then in `~/.jira.d/cookies.js`:
[code]

[2021-04-19 20:42] aurelienmazurie-wk commented on #231
A little contribution to facilitate the use of the `JSESSIONID` and `atlassian.xsrf.token` values: I added a custom command to `~/.jira.d/config.yml` that takes these values as arguments, and write then in `~/.jira.d/cookies.js`:
[code]

[2021-04-21 17:07] #418 closed

[2021-04-22 00:57] rvl opened #419 "Passing values into the list template?"
Hi, I really appreciate go-jira, but am having trouble passing external data into templates.
The only way I have found is through the `env` template function, but this is a bit clumsy to use.

Here is an example of what I'm currently doing:
[code]

The list template file `templates/active-sprint`:
[code]

Is there some `jira list` command-line option which can pass structured data (JSON perhaps) i

[2021-04-22 10:46] deshraj5375 opened #420 "How to set custom field of option/select type."
HI team,

I am trying to set custom field but it works only for type as string. but i also want to set custom field which is option/select type.

jira edit -t <customtemplateName> --noedit --override <customFieldName>=[{'Value'}] <ticket>

template:
  <customfieldId>: {{ .overrides.< customFieldName>  }}

ichecked with jira editmeta to check what type it is, it is option.

Can you please help to g

[2021-04-23 21:11] SteveF4 opened #421 "How to parse strange value from customfield in template"
Hi all,

I'm building a custom view template, but I'm getting a strange value in a customfield from my JIRA instance. Does anyone know what kind of value it is, and how to parse it in a go template?

When I get an issue from JIRA, the value of `.fields.customfield_10544` is:

    [com.atlassian.greenhopper.service.sprint.Sprint@4c101cbb[id=2504,rapidViewId=1082,state=ACTIVE,name=S143
    - Apr 22

[2021-04-28 09:18] piotr-piatkowski commented on #251
Yep, I have very the same problem. I have to run `pkill jira` in separate terminal as it locks with every `jira` command I have in my script. If I authenticate before running custom command using `jira login` then later command works fine.

[2021-05-20 08:12] denysvitali commented on #414
Can confirm, this is an issue for our instance as well and this proposed solution fixes it.

[2021-05-21 20:03] acdameli commented on #405
@atsalolikhin-spokeo I get the same experience as OP when using session and for `jira login` I get the following

[code]

[2021-05-31 13:55] moon-musick opened #427 "jira watch --remove returns "ERROR Invalid Usage: EOF""
Hi,

I am using a self-hosted JIRA instance, and recent version of go-jira/jira (just run `go get -u` to check for possible fixes, but it didn't help).

When I run a `jira watch --remove ISSUE_ID my.email@company.domain` I get `ERROR Invalid Usage: EOF` (apart from the standard usage message).

I tried with my login (we use LDAP for auth), and without the `WATCHER` argument, as it seems to be opti

[2021-06-02 12:08] xushaoxiao opened #428 "Support Jira v8.13 or latest?"
i want to know this lib can support v3 apis?
can operate jira content from v8.13?

[2021-06-07 14:05] DBX12 opened #429 "Usage of the dateFormat template function"
**What I want to achieve:**

I want to show the date and time in the format `02.01.2006 15:04`

**What I tried:**

Using this template:
[code]
An example value of the field `.fields.customfield_11221` rendered without the dateFormat function looks like this `2021-06-01T10:30:00.000+0200`.

**What I get:**

`ERROR Invalid Usage: template: gojira:15:41: executing "gojira" at <dateFormat "02.01.2006

[2021-06-14 08:50] tardypad commented on #242
I've encountered as well the issue of my authentication not working because of extra metadata in the password entry (and also hit the subsequent annoying rate limitations, banning me from login for some time apparently)

I believe `go-jira` should either limit itself in taking only the first line of the `pass` result or implement a custom source command (as requested in #311) so that we can config

[2021-06-30 15:30] ingo opened #430 "Authentication/Calls to Confluence?"
This is a great project. I have links in my Jira tickets to Confluence pages where I need to resolve some details from the Confluence server. Is it possible to call Confluence from within this CLI, or suggestions on enabling that/handling the authentication aspects?

[2021-06-30 20:00] devstuff commented on #421
What you need is a custom command that calls the Jira Agile API, which manages boards, sprints, etc.

Based on the custom `sprint-add` command that @coryb supplied in https://github.com/go-jira/jira/issues/230 I created a similar command to show the active or next sprint:

[code]

I defaulted the board type to `simple` because that's what most of my projects use.

[2021-07-06 21:49] fazlizekiqi opened #431 "Fix documentation."
Was trying to go through the README file. I found it really difficult to install the tool properly following the instruction.
I am using MAC for development and was trying to install the tool manually and also with the "go".  Didn't succeed it.

[2021-07-06 22:19] oschrenk commented on #431
I think you would need to elaborate on your problems to address specific issues. What didn't work? Did the download not work? Were there too many choices, maybe too few? Are you familiar with the terminal?

[2021-07-06 22:31] fazlizekiqi commented on #431
The download part worked.
I was trying just to run "jira" after the downloaded part. Was getting that "the command not found".
Tried to go in the src and install it manually with go. No success.

Yes, I am familiar with the terminal.

Different scenarios on how I tried to install it, correct me if I did something wrong:

Scenario 1:
GO111MODULE=on go get github.com/go-jira/jira/cmd/jira
According

[2021-07-06 22:34] fazlizekiqi commented on #431
I think a better title for the issue would be to Simplify documentation and not fix it. I really liked the idea of the tool but i don't really want to spend too much time on installing/configuring etc...

I am not a GO developer though. Can be something related to that as well.

[2021-07-07 07:05] oschrenk commented on #431
(I am not a maintainer of go-jira and not associated with the project)

If you have [Homebrew](https://brew.sh/) installed, you can also use:

[code]

That installation will also put the binary into an accessible place, so that you can "just" do `jira`.

As for the other installation methods (and addressing your comments):

## Download

You need to know your operating system and CPU architecture.

[2021-07-07 07:21] fazlizekiqi commented on #431
Great.
Thanks for the clarification.

Having this part as a part of go-jira docs would probably help others as well.

[2021-07-07 07:21] #431 closed

[2021-07-07 13:24] reinhardt commented on #330
I see an [IssueAddComment](https://github.com/go-jira/jira/blob/master/issue.go#L524) function, which seems to correspond to the API endpoint `POST /rest/api/2/issue/{issueIdOrKey}/comment`, but I can't find a function that uses the endpoint for updating a comment (`PUT /rest/api/2/issue/{issueIdOrKey}/comment/{id}`), so my guess is that editing comments is not supported.

[2021-07-12 21:31] fhoy opened #432 "Support Authorization: Bearer, for personal access tokens on Jira Server/Jira Data Center"
Supporting personal access tokens (PATs) with REST APIs is apparently a fairly new feature for Jira Server and Jira Data Center (see [issue closed November 2020](https://jira.atlassian.com/browse/JRASERVER-67869)), and this requires passing the token as a header `Authorization: Bearer <token>`. As far as I can tell from the [relevant go-jira code](https://github.com/go-jira/jira/blob/master/jiracl

[2021-07-13 12:31] georgekarrv opened #433 "Setting string field to empty does not clear field"
I have tried in my template edit
field: null
field: ""

neither update the field to be `None` it still has the string that was previously set.

[2021-07-19 17:53] andrewarrow opened #435 "WARNING pass binary was not found! Fallback to default password behaviour!"
I have these env vars:

[code]

and in `~/.jira.d/config.yml`:

[code]

but I get `WARNING pass binary was not found! Fallback to default password behaviour!` everytime I try and do a simple list of issues in a project and it says also :

[code]

but ENG is the id of my project. I think I'm just not logged in right?

[2021-07-27 07:59] ingmarh commented on #405
I had the same error with `jira session`:

[code]

Tried with go-jira v1.0.27 on macOS Catalina.

**Workaround**: Setting the API token as an environment variable `JIRA_API_TOKEN` (less-secure than `jira session`).

[2021-08-04 14:06] wefarrell opened #439 "Correct usage of "jira view <ISSUE>" is raising error"
Using `jira view <ISSUE>` correctly prints out the details of an issue but it also raises the error:

[code]

[2021-08-05 07:31] groensch24 commented on #112
Any news on this? I would love to use that. Is there anything I can help with?

[2021-08-06 19:27] jmtd commented on #112
I've been using the stuff I did in #411 (I forgot to reference this issue in that PR, oops) but it's a bit rough.

[2021-08-09 11:17] makkes commented on #413
I created #440 so that you can change the default column width using a custom template.

[2021-08-16 08:19] ingmarh commented on #204
I‘m also interested. Automatically setting `ISSUE` from a environment variable/current Git branch would be really great.

Did someone work on a fix in the meantime? If I find time, I could try fixing it with the information described in the previous comments, but I‘ve never worked with Go so far.

[2021-08-23 03:44] chuckliu1979 opened #441 "password-source stdin incorrect"
if use password-source:stdin, the password reading from os.Stdin contains character '\n' which caused incorrect auth

i made a patch for it:

ff@ff-ThinkPad-W540:~/projects/jira$ git diff
diff --git a/jiracli/password.go b/jiracli/password.go
index 1baa986..032363c 100644
--- a/jiracli/password.go
+++ b/jiracli/password.go
@@ -3,7 +3,6 @@ package jiracli
 import (
        "bytes"
        "fmt"
-

[2021-08-25 14:51] danaelhe commented on #135
Does this still work for anybody? Running into the following error:
`ERROR Invalid Usage: JSON Parse Error: invalid character '<' looking for beginning of value`

[2021-09-09 15:48] lemingos opened #443 "Custom table columns"
Thx for great tool.

I would like to print the list of tickets in table with just 2 columns ticket number and summary?

Is it possible?

[2021-09-09 15:58] lemingos commented on #443
Nevermind it's `list`

[2021-09-09 15:58] #443 closed

[2021-09-13 16:36] cmcgee1024 opened #444 "Can't transition and add comment at the same time"
I'm working with a JIRA project that requires comments to be left on issues when transitioning to certain states. The transition command offers a "-m | --comment=MESSAGE" parameter but that doesn't seem to go into the edit state of the issue.

[code]

If I run this command again without --noedit I don't see the comment in the YAML for submission.

[2021-09-23 19:49] #393 closed

[2021-10-05 12:25] larsrei opened #445 "No Login via API behind ADFS"
Hello,

I try with API login but I see only the message
`ERROR Invalid Usage: invalid character '<' looking for beginning of value`

What must I change to login correct? What is the error here?

config.yaml
`endpoint: https://jira.domain.de
project: TEST
authentication-method: api-token
user: me
login: me@domain.de`

best regards,
Lars

[2021-11-04 07:16] jbinto commented on #347
I found `--override` works for this purpose, that is, not having to manually edit .yml combined with `--noedit`. No need for wrapper scripts.

[code]

[2021-11-10 17:27] nyarly commented on #338
The Kanban approach above doesn't work - Jira tasks can have statuses separate from their being on the board or not.

[2021-11-11 07:57] #322 closed

[2021-11-22 01:26] catskul opened #448 "Mention and disambiguate project with similar/identical name"
Apparently there's another project with the same(?) name.

https://github.com/andygrunwald/go-jira

We should probably mention it in the readme so that people don't end up confused or thing that they're forks of the same project.

Added a similar issue over at the other project here:

https://github.com/andygrunwald/go-jira/issues/420

[2021-11-30 06:53] themysteq commented on #445
From my experience it seems like you receive an XML/HTML document rather than application/json
Please take a look onto verbose output of:
`jira login -vvv`

[2021-12-03 13:21] desolatorxxl commented on #414
I have the same issue with create and edit operations aswell.

[2021-12-04 19:53] catskul opened #449 "Add new maintainer(s) to help chew through the issue and pull request backlog"
I imagine adding new maintainers can be a bit stressful since it's a potential security concern, but seems like there's a need here considering how widely used this is and how far behind the project is on pull requests and issues.

I nominate @georgettica. Who his already a code owner:

https://github.com/go-jira/jira/pull/426
https://github.com/go-jira/jira/pull/395#issuecomment-980819086

[2021-12-04 20:08] georgettica commented on #449
I can heartly say I'll do my best to debug and not abuse the power I am given if I am uncertain

[2021-12-06 20:30] AlJohri commented on #241
I wrote an [alternative tool](https://github.com/AlJohri/get-browser-cookies) in Python to work with non-okta SSO systems: [get-browser-cookies](https://github.com/AlJohri/get-browser-cookies).

Setup:
[code]

Run:
[code]

The above command populates `~/.jira.d/cookies.js` with the necessary cookies from your browser of choice (firefox or chrome). Put this in a function in your `zshrc` or `bash_pr

[2021-12-07 14:06] bougyman opened #452 "Cannot install with go get on Mac"
[code]

[2021-12-07 14:08] bougyman commented on #452
`% GO111MODULE=on go install github.com/go-jira/jira/cmd/jira@latest` works. Getting a PR up for the documentation update.

[2021-12-08 15:11] georgettica commented on #452
there is no need for `GO111MODULE=on`
tested locally and it works

aside of that I approve

[2021-12-26 15:28] AlJohri opened #455 "Sharing some Custom Commands"
Hi all, I wanted to just share some custom commands that I pieced together and found useful since documentation was a little hard to come by. I'm using like 0.1% of what this tool has to offer but its proven useful nonetheless.

1. Create/Edit Jira Ticket using Browser (instead of $EDITOR)

    This opens the browser to the CreateIssueDetails page with several fields pre-populated to make it easie

[2021-12-29 17:32] catskul commented on #449
@coryb I think you might need to be the one to address this. I think @mikepea said he didn't feel comfortable making that decision.

[2021-12-30 23:09] coryb commented on #449
I have added @georgettica to the maintainers list, thanks in advance for the help!
fyi @ldelossa

[2022-01-13 11:35] kenot opened #456 "Cannot create ticket with one line command, that includes multiple labels and components"
Hi Guys,

Hopefully, someone might help me.

I am failing to create a ticket with one line command, that includes multiple labels and components. This is what I get:

toncho_dinkov@jobs1-preproduction:~/.jira.d$ jira create --noedit -i Task -o summary="Test" -o labels="Label1, Label2" -o components="Airflow, WEBSSU" -o description="Testing go-jira" -o assignee="toncho.dinkov"
ERROR components: Com

[2022-01-13 11:51] georgettica commented on #456
Have you tried it wihout the --noedit?

This would possibly show you the same error

[2022-01-13 12:12] kenot commented on #456
In fact, Without --noedit it invokes the editor, where I see

fields:
  project:
    key: MMOPS
  issuetype:
    name: Task
  summary: >-
    Test
  priority: # Values: Blocker, Critical, Major, Elevated, Normal, Minor, Trivial, Drop, High, Highest, Low,
    name:
  labels: # Values:
    - name:  - Label1 - Label2
  components: # Values: Airflow, AppDataHandler, Appreciation_NL_Support, Appreciati

[2022-01-13 13:10] georgettica commented on #456
so this would mean the `-o` doesn't do as you expect and you need a custom mapping for these, right?
that and the list command doesn't work as expected for labels.

as least it means the command works as expected, fails where doing it without editing would.
now the solution needs to be decided

[2022-01-13 15:14] georgettica commented on #456
I am not sure, sadly I am a fairly new with the repo and trying to help from the outside as of now

[2022-01-13 15:27] kenot commented on #456
If I run the command this way

# jira create --noedit -i Task -o summary="Test" -o labels="Label1" -o components="Airflow" -o description="Testing go-jira" -o assignee="toncho.dinkov"

It works

[2022-01-13 16:05] kenot commented on #456
I found the way

[2022-01-15 00:12] nbohling commented on #445
I have the same issue, and it's because our private jira is behind a two-factor authentication gateway (DUO) that doesn't support http over cli like this (needs a browser and cookie).

[2022-01-17 06:58] kenot commented on #456
# jira create --noedit -i Task -o summary="Test" -o duedate="2022-04-14" -o labels="Label1 , Label2" -o components="Airflow , WebSSU" -o description="Testing go-jira" -o assignee="toncho.dinkov"

[2022-01-17 08:20] kenot opened #457 "ERROR epiclink: Field 'epiclink' cannot be set. It is not on the appropriate screen, or unknown."
Hello,

I tried to add field for epic link in the create template, as below:

{{/* create template */ -}}
fields:
  project:
    key: {{ or .overrides.project "" }}
  duedate: {{ or .overrides.duedate "" }}
  issuetype:
    name: {{ or .overrides.issuetype "" }}
  epiclink: {{ or .overrides.epiclink "" }}
  summary: >-
    {{ or .overrides.summary "" }}{{if .meta.fields.priority.allowedValues}}

[2022-01-17 08:36] kenot commented on #456
Now the question is to how to set epic link field into the create template, so that when it creates ticket, it would contain field for epic link.

[2022-01-17 09:16] georgettica commented on #456
you can do that after the fact with `jira link`

as it's a different API call IIRC

[2022-01-17 09:23] georgettica commented on #456
ps @kenot , I am editing your comments by wrapping them with triple ticks ```

this makes it easier to read and seperate the commands from the actual text

you can use the preview tab to see how it looks like before sending

[2022-01-17 17:45] paoloantinori commented on #250
In case this could be useful to anyone:

if you are using a private Jira server, and you are using a `bearer-token` (so not providing your user's password) you need to use this key to store your user: `'api-token:YOUR_EMAIL_HERE'` .

[code]

You can verify what is going to be the correctly lookup expanding this logging line:
https://github.com/go-jira/jira/blob/master/jiracli/password.go#L61

Work

[2022-01-27 23:44] fhoy commented on #432
I snoozed, and lost. This has since been fixed by https://github.com/go-jira/jira/pull/447, so I'm closing this issue.

[2022-01-27 23:44] #432 closed

[2022-03-13 14:15] #327 closed

[2022-03-23 10:55] mvdan commented on #248
Sounds like this issue served its purpose and has been inactive for some time - closing.

[2022-03-23 10:55] #248 closed

[2022-04-07 01:30] cnc0090306 commented on #427
Same issue from my side

[2022-04-07 15:22] bkane-msft opened #459 "Would you accept a PR to support the password-source: keyring config on Windows?"
When `password-source: keyring` is set in my config and I run on Windows, I get the following error:

[code]

I think this keyring support in Windows can easily be added by replacing https://github.com/tmc/keyring with https://github.com/zalando/go-keyring in the `keyringGet`/`keyringSet` code.

Would you accept a PR with this code change and updated docs? `jira` would be easier to use on Windows

[2022-06-22 22:59] ghostsquad opened #463 "Enable Discussions"
We should enable discussions in here. Possibly also other avenues for people to ask questions and engage (besides just issues), maybe a Slack or Discord Server?

[2022-06-27 15:21] codeorganic opened #464 "Unable To Edit: Could not find valid 'id' or 'value' in the Parent Option object."
I am unable to edit a jira ticket with a customfield, please let me know if you have additional questions.

*Error Response*
[code]

*Command*
```jira edit <Ticket> --override teamName="TEMP" --noedit -v```

*Template*
I have tried many ways with the template.  Including using `- id:` but always results with the same error
[code]

*EditMedia*
Abstract taken from jira editmedia <ticket>
[code]

---

[2022-06-28 15:26] codeorganic commented on #464
Solved.

[code]

[2022-06-28 15:27] #464 closed

[2022-07-09 10:43] miguelbernadi commented on #449
Shouldn't this issue be closed now?

[2022-07-09 10:56] georgettica commented on #449
It can, but as of now we didn't chew really on that list

[2022-07-21 23:24] atsalolikhin-spokeo opened #465 "replace " with ' in template"
Hello,

I am trying to feed the output of go-jira to [tv](https://github.com/alexhallam/tv)

I am including the Jira summary field in my output and some of the summary values have commas in them; so I added double quotes to my go template like so:

[code]

Another issue is that some summary values have double quotes in them -- I'd like to do a find and replace to change them to single quotes, so i

[2022-09-14 18:26] choman opened #469 "Project still maintained"
Curious if this project is still maintained?

If not, can alternatives be provided?

[2022-10-01 10:45] Comradin commented on #469
I started using it, again, zwei days ago and so far it worked for me.

Even if unmaintained it's still working and useful.

[2022-10-05 08:56] Comradin opened #470 "config.yml case sensitivity"
Hello,

my ./.jira.d/config.yml contains a project: line and by accident I wrote the project name in lower case letters.

While lower case letters work with "jira list" it failes when I issue a "jira create" command with the following error message:

[code]

After correcting the lower case letters to uppper case letters the command works.

[2022-10-06 21:37] nyarly commented on #449
Are new maintainers needed? I can pitch in a little bit; I use go-jira constantly.

[2022-10-12 19:24] nyarly commented on #449
Right now it looks like there's a big backlog of PRs. I don't have permissions to merge/close those.

[2022-10-13 15:20] catskul commented on #449
@mikepea @coryb any input here?

[2022-10-13 15:44] coryb commented on #449
The more the merrier!  I have invited @nyarly to the maintainer's list, thanks in advance for any help you can provide! 🎉

[2022-11-04 18:07] SijanC147 commented on #160
Was this issue fixed, am still experiencing this. I entered the wrong API key by mistake the first time, and now if i include `password-source: keyring` it always fails. `jira logout` suggests that it's deleting something, but doesn't fix the issue the next time i run any command. Removing the keyring setting from config makes it ask for my token on every command. Am i missing something?

[2022-11-10 01:44] igbanam commented on #463
Discussions have been enabled.

[2022-11-10 01:46] igbanam commented on #469
I think this is still being maintained. #440 and #450 were merged two weeks ago

[2022-11-10 02:02] igbanam commented on #457
Most times, with JIRA epics, the field could be a custom field. Adding it to the template would mean you add the custom field to the template. Confirm this with the schema on your JIRA server.

To solve this, I currently do this in two steps:

1. Create the JIRA ticket with `jira create ...`
2. Add the created `JIRA-TKT` to the `JIRA-EPIC` using `jira epic add JIRA-EPIC JIRA-TKT`

&nbsp;

_p.s: Yo

[2022-11-10 02:05] igbanam commented on #457
Ctrl-F for `options.epic` in https://github.com/go-jira/jira/issues/455#issue-1088793535 to see an example

[2022-11-10 21:46] #463 closed

[2022-11-16 08:52] floriankessler opened #474 "Cannot define overrides in config"
I cannot define overrides in config. Only specifying overrides directly as CLI parameters will work

What am I doing wrong?

TIA,
Florian

Steps to reproduce:

[code]

Specify override via config

[code]

Specify override via CLI

[code]